<script note="앱공통 유틸리티 함수">
</script>
<script note="파이션 유틸리티 함수">
	pythonCommandError(cmd, &err) {
		if(err.start('@#> execException:',true)) {
			msg=err.trim()
			print("@@ 파이션 명령줄 실행 오류 ", cmd.id, msg)
		}
	}
	pythonCommandStart(callback) {
		py=pathJoin(conf('python.path'), 'python.exe')
		sourcePath	= pathJoin(conf('python.RUN_PATH'), 'runCommand.py')
		not(isFile(sourcePath)) {
			log("error::@python.getCommand 소스파일 경로가 없습니다 (경로:$sourcePath)")
		}
		cmd=Baro.process('pythonCommand')
		logObj	= logAppend("pythonCommand-log")
		outObj	= logTail("pythonCommand-out")
		not( cmd.@jobMode ) {
			cmd.@jobMode='PythonCommand'		
			cmd.@workerStatus='stay'
			cmd.@logAppend = logObj
			cmd.@logTail = outObj
			cmd.addArray('@cmdJobList')
			cmd.addArray('@commandList')
		}		
		logFileName=logObj.get('logFileName')
		outFileName=outObj.get('logFileName')
		line=f["$py" "$sourcePath" --command="$logFileName" --out="$outFileName"]
		print("python command start : $line")
		addCmdJob(cmd, line, callback)
	}
	
	pythonCommand(command, callback) {
		not(command) return print("@@pythonCommand 명령라인이 없습니다")
		print(">> parseCommand 시작:$command")
		cmd=Baro.process('pythonCommand')
		not(cmd.@commandInfo) {
			cmd.addNode('@commandInfo')
		}
		ca=~(cmd.@jobMode)
		cb=cmd.@jobStatus.eq('finish')
		print(">> ", ca, cb)
		if( ca || cb ) {
			cmd.@jobStatus='ready'
			cmd.@commandInfo.with(command, callback)
			return pythonCommandStart(function(result,endCheck) {
				if(endCheck) return;
				this.@commandInfo.inject(command, callback)
				print(">> python command runCommand.py 시작: $result", command)
				pythonCommand(command, callback)
			})
		}
		
		not( typeof(callback,'func')) callback = function() {
			cmd=this
			result=""
			print("pythonCommand 현재명령 작업시작 >> ${getLine(cmd.@currentCommand)}")
			while(n=0,50) {
				System.sleep(200)				
				result=cmd.@logTail.timeout()
				if(result) {
					if(result.find('@#> execException:')) {
						return pythonCommandError(cmd, result);
					}
					print(">>pythonCommand 실행결과:$result", n)
					break;
				}
			}
			not(result) {
				print(">>pythonCommand 실행결과가 없습니다", n)
			}
		};
		cmd.@callbackWorker = callback
		cmd.@currentCommand=command
		cmd.@logTail.timeout()
		cmd.@logAppend.append("@#>$command")
		// cmd.@commandList.add(command)
		// print("python command size:", cmd.@commandList.size())
		addUserWorker('pythonCommand', cmd )
	}
	 
	pythonVersion(callback) {
		py=pathJoin(conf('python.path'), 'python.exe')
		not(isFile(py)) {
			return print("파이션 설치 경로 미설정 (경로:$py)");
		}
		not(callback) callback=function(s) { print("python version:$s") }
		runCommand("$py --version", callback)
	}
	pythonInstallStart(moduleName, startCheck) {
		if(args().size()==0) {
			// 매개변수 없이 호출하면 등록된 모듈정보 실행 (예) pythonInstallStart()
			startCheck=true
		}
		cmd=Baro.process('moduleInstall')
		not(cmd.@cmdJobList) {
			addCmdJob(cmd)
			cmd.addArray('@installModuleList')
			cmd.logCallback=@python.installCallback
		}
		py=pathJoin(conf('python.path'), 'python.exe')
		not(isFile(py)) {
			return print("파이션 설치 경로 미설정 (경로:$py)");
		}
		
		if( moduleName ) {
			info = object('python.installInfo')
			cur=findField(info,'name',moduleName)
			if(cur) {
				print("$moduleName 파이션 모듈이 이미 설치되었습니다", cur)
				return;
			}
			if(cmd.@installModuleList.find(moduleName)) {
				print("파이션 설치 $moduleName 이미 추가되었습니다(경로:$py)")
				return;
			}
			cmd.@installModuleList.add(moduleName)
			print("파이션 설치 모듈정보 ", cmd.@installModuleList)
		}
		if( startCheck) {
			moduleName=cmd.@installModuleList.pop()
			not(moduleName) {
				return print("설치 모듈정보가 없습니다 (pythonInstallAdd 함수로 파이션 설치 모듈을 등록하세요)");
			}
			cmd.@currentModuleName = moduleName
			if(moduleName.eq('list')) {
				cmd.@cmdJobList.add("$py -m pip $moduleName")
			} else if(moduleName.eq('upgrade')) {
				cmd.@cmdJobList.add("$py -m pip install --upgrade pip")
			} else {
				cmd.@cmdJobList.add("$py -m pip install $moduleName")
			}
		}
		return cmd;
	}
	@python.installCallback(result, param) {
		cmd=this
		if(cmd.@currentModuleName=='list') {
			@python.setInstallList(result)
		} else {
			print('파이션 설치정보 : ', result);
			if(cmd.@installModuleList.size()) {
				pythonInstallStart()
			}
		}
	}
	@python.setInstallList(&s) {
		info = object('python.installInfo')
		not(s) return info;
		start=false
		while(s.valid()) {
			line=s.findPos("\n") not(line.ch()) break;
			if(start) {
				name=line.findPos(" \t\n",4)
				version=line.trim()
				info.addNode().with(name, version)
				continue;
			}
			if(line.start('----')) {
				start=true;
			}
		}
		return info;
	}
</script>