<script module="message_server" note="메시지서버 모듈">
	init() {
		@server = Baro.was('message_server')
		@max_buffer_size = 8192
		@session = global().addNode('@sessionMaps')
	}
	start(port) {
		not(port) port=8094
		server.startServer(port, this, this.serverProc)
	}
	closeClient(client) {
		config=client.config()
		print('close client === ', client, config)
		client.close()
	}
	dispatchMessage(client, type, params, props, data, size) {
		print(">> server dispatch message ",type, params, props, size )
		config=client.config()
		messageNode = config.@messageNode.removeAll(true)
		if( props) {
			messageNode.parseJson(props)
		}
		switch(type) {
		case login: 
			this.resLogin(client, messageNode, params, config)
		case uploadFile:
			this.resUploadFile(client, messageNode, params, data, size, config)
		case downloadFile:
			this.resDownloadFile(client, messageNode, params, data, size, config)
		case echo:
			this.sendClient(client, 'res_echo', params, json(messageNode), '')
		default:
			return print("@@dispatchMessage 타입:$type 미정의");
		}
	}
	sendClient(client, type, params, props, data) {
		not(props) {
			tm=System.localtime()
			props="{tm:$tm}"
		}
		size=data.size()
		not( client.sendData("##>$type:$size:$params$props\r\n\r\n$data") ) {
			this.closeClient(client)
		}
	}
	serverProc(client) {		
		if( client.isCall()) {
			print("@@ server 메시지 클라이언트 처리중")
			return;
		}
		config=client.config()
		if(config.@checkRun ) {
			return;
		}
		config.@checkRun=true
		data=client.recvData()
		not(data) {
			print(">> serverProc data null")
			return;
		}
		if( typeof(data,'bool') ) {
			print(">> 사용자종료 serverProc data==$data")
			this.closeClient(client)
		}
		this.dispatchData(client,data)
		config.@checkRun=false
		not( client.isConnect()) {
			print(">> 사용자 종료 serverProc client invalid")
			this.closeClient(client)
		}
	}
	dispatchData(client, &data) {
		left=data.findPos('##>') 
		if( left.size() > 32 ) {
			print("@@message_server dispatchData 시작오류 ", left.size())
			return;
		}
		not(lineCheck(data,'{')) {
			return print("@@message_server dispatchData 프로토콜오류 line=$line")  
		}
		line=data.findPos("{",1,1)
		print("server>> header==>$line")
		type=line.findPos(':').trim()
		size=line.findPos(':').trim()
		params=line.trim()
		props=data.match()
		data.findPos("\r\n\r\n")
		config=client.config()
		not( config.@messageNode) {
			config.addNode('@messageNode')
		}
		this.dispatchMessage(client, type, params, props, data, size.toInt() )
	}
	
	clientList() {
		return server.clientArray()
	}
	resLogin(client, messageNode, params, config) {
		messageNode.inject(userId, workType)
		if(userId) { 
			not(workType) workType='message'
			token=strEncode(userId,'_',System.tick())
			messageNode.token = token
			messageNode.resultType='ok'
			messageNode.message='로그인성공'
			session.set("login.$token", client)
			config.with(@userId,@workType,@token)
		} else {
			messageNode.resultType='error'
			messageNode.message='사용자 아이디가 없습니다'
		}
		this.sendClient(client, 'res_login', params, json(messageNode), '')
	}
	
	resUploadFile(client, messageNode, params, data, size, config) {
		messageNode.inject(remoteFilename) 
		tempPath = conf('path.temp')
		not(tempPath) tempPath='C:/temp'
		tempFilename = pathJoin(tempPath, strJoin(config.@userId,'-',System.tick()) )
		file=fileObject()
		print("xxxx server uploadFile xxxxx", remoteFilename, messageNode, data.size())
		buffer_size=4096*20
		if(file.open(tempFilename,'append')) {
			file.append(data)
			appendSize = data.size()
			errorCheck=false
			while( size.gt(appendSize) ) {
				recv = client.read(buffer_size)
				recvSize=recv.size()
				not(recvSize) return;
				if(recvSize!=buffer_size) {
					print(">> recv recvSize!=max_buffer_size", recvSize, buffer_size);
					not(client.isRead(500)) break;
				}
				file.append(recv)
				appendSize+=recvSize;
			}
			print(">> server upload recv 정보 : ", size, appendSize, client.peek() )
			if(errorCheck) {
				client.flush()
				print("@@ server upload중 오류가 발생했습니다", messageNode)
			} else {
				if( isFile(remoteFilename)) {
					remoteFilename = getDownloadName(remoteFilename)
				}
				print("xxxxxxx file move xxxxxxxxx", tempFilename, remoteFilename)
				fileMove(tempFilename, remoteFilename, true, 'command')
			}
			file.close()
		} else {
			client.flush()
			messageNode.resultType="error"
			messageNode.message="$remoteFilename 파일열기 오류"
		}
		this.sendClient(client, 'res_upload', params, json(messageNode), '')
	}
	
	resDownloadFile(client, messageNode, params, data, size, config) {
		messageNode.inject(remoteFilename)
		file=fileObject()
		sendFlag=false
		if(file.open(remoteFilename,'read')) {
			messageNode.resultType="ok"
			messageNode.message="$remoteFilename 파일 다운로드 시작"
			sendFlag = true
			sendSize = 0			
			totalSize=file.size()
			props=json(messageNode)
			while(totalSize.gt(sendSize), idx) {
				remain = totalSize - sendSize
				if(remain.gt(max_buffer_size)) remain=max_buffer_size
				data=file.read(remain)
				if(idx==0) {
					result=client.sendData("##>res_download:$totalSize:$params$props\r\n$data")
				} else {
					result=client.sendData(data)
				}
				not(result) {
					print("@@ message_server download 파일 전송오류 ", totalSize, sendSize)
					break;
				}
				sendSize+=data.size();
			}
			if( error ) {
				print("@@ download error $remotFilePath", totalSize, sendSize)
				client.close()
			}
		} else {
			messageNode.resultType="error"
			messageNode.message="$remotFilePath 파일오픈 오류"
			print("@@ download error $remotFilePath", totalSize, sendSize)
		}
		file.close()
		print(">> download sendFlag == $sendFlag", messageNode)
		not(sendFlag) {
			this.sendClient(client, 'res_download', params, json(messageNode), '')
		}
	}

</script>