<script module="canvas">
	init() {
		baseConfig().inject(@font)
		not(font) {
			baseConfig().with(@font:'size:9').inject(font)
		}
		this.font(font)
	}	
	canvasSize() {
		return this.rect().size()
	}
	updateCheck(rc) {
		print("@@ upate check updateCheckTick==${this.updateCheckTick}")
		this.updateCheckTick=System.tick()
		this.var(@rectCanvas, rc)
		this.updateCanvas()
	}
	updateCanvas() {
		print("@@ canvas 객체에 updateCanvas 함수 중복정의 하세요")
	}	
	
	mouseMove(pos) {
		this.inject(@form) not(form) return false;
		return this.mouseMoveForm(pos, form)
	}
	clickButton(currentNode) {
		print("@@ click button =>" currentNode)
	}
	onTimer() {
		if(this.var(@useMdc)) {
			this.timerClipCheck()
		}
	}
	drawClip(dc, rc) {
		
	}
	onDraw(dc,rc) {
		if( rc.eq(this.rect()) ) {
			this.inject(@rectCanvas)
			not( rc.eq(rectCanvas) ) {
				this.updateCheck(rc)
			}
		} else {
			if(this.var(@useMdc)) {
				this.drawMdcClip(dc,rc)
			} else {
				this.drawClip(dc,rc)
			}
			return;
		}		
		this.inject(@form, @useMdc, @useDrawPath, @pathList)
		if( typeof(this.drawBackground,'func') ) {
			this.drawBackground(dc,rc)
		}
		if( form ) {
			this.drawForm(dc,form)				
		}
		if( useMdc) {
			this.drawMdc(dc)
		}		
		
		if( useDrawPath && isValid(pathList) ) {
			dc.save()
			dc.drawPath(pathList, this.baseColor)
			dc.restore()
		}
	}
	
	onMouseDown(pos) {
		if(this.var(@form) && this.mouseDownForm(pos) ) return true;
		if(this.var(@useMdc) && this.mouseDownMdc(pos) ) return true;
		
	}
	onMouseUp(pos) {
		if(this.var(@form) && this.mouseUpForm(pos) ) return true;	
		if(this.var(@useMdc) && this.mouseUpMdc(pos) ) return true;
	}
	
</script>

<script module="canvas_mdc">
	init() {
		this.addArray('@mdcList')
		this.addArray('@overlayList')
		this.addArray('@clipList')
		this.addArray('@pathList')
		this.timer(500)
		this.var(@useMdc, true)
		this.var(@useDrawPath, false)		
	}
	drawMdc(dc) {
		this.inject(@mdcList, @overlayList)
		while(mdc, mdcList) {
			mdc.draw(dc)
		}
		while(pair, this.timeline()) {
			pair.inject(code, tm)
			if( tm.state()) {
				target = tm.config().get('target')				
				if( target && target.drawTimeline(dc, code, tm) ) break;
			}
		}
		while(mdc, overlayList) {
			mdc.inject(@cause, @rectOverlay, @offset)
			mdc.drawOverlay(dc)
		}
	} 
	drawMdcClip(dc,rc) {
		while(mdc, this.var(@clipList)) {
			mdc.inject(@rectClip) 
			not(rectClip) {
				continue;
			}
			if(rectClip.eq(rectClip)) {
				mdc.drawClip(dc,rc)
				break;
			}
		}
	}
	mouseDownMdc(pos) {
		this.inject(@mdcList) not(isValid(mdcList)) return;
		while(n=mdcList.size()-1,0) {
			mdc=mdcList.get(n)
			if( mdc.mouseDownDefault(pos) ) return true;
		}
	}
	mouseUpMdc(pos) {
		this.inject(@mdcList) not(isValid(mdcList)) return;
		while(n=mdcList.size()-1,0) {
			mdc=mdcList.get(n)
			if( mdc.mouseUpDefault(pos) ) return true;
		}
	}
	
	timerClipCheck() {
		while(mdc, this.var(@clipList)) {
			rect=mdc.getClipRect()
			not(typeof(rect,'rect')) {
				continue;
			}
			mdc.inject(@clipTick, @clipDuration)
			if( checkTick(clipTick, clipDuration)) {
				this.update(rect)
				break;
			} else {
				not(clipTick) clipTick=System.tick()
				continue;
			}
		}
	}
	addTimeline(timelineCode, target, checkStart) {
		tm=this.timeline(timelineCode)
		tm.config().set('target', target)
		if( checkStart) {
			tm.start(20,800)
		}
		return tm;
	}
	removeTimeline(timelineCode) { 
		while(pair, this.timeline(), idx) {
			pair.inject(code, tm)
			if(code.eq(timelineCode)) {
				tm.stop()
				this.timeline().remove(idx)
				return true;
			}
		}
		return false;
	}	
	addClipMdc(mdc) {
		this.inject(@clipList)
		not(clipList.find(mdc)) clipList.add(mdc)
	}
	removeClipMdc(mdc) {
		this.inject(@clipList)
		clipList.remove(mdc)
	}
	addMdcList(mdc, redraw) {
		this.inject(@mdcList)
		not(mdcList.find(mdc)) {
			mdcList.add(mdc)
			mdc.drawDc()
		}
		if(redraw) {
			this.update()
		}
		return mdc;
	}
	getMdc(param, moduleType) {		
		this.inject(@baseCode, id)
		dc=mdc("$baseCode#$id.$param")
		if( moduleType ) {
			not(dc.var(@useModule)) {
				dc.var(@canvas, this)
				dc.var(@moduleType)
				addModule(dc,"mdc,$moduleType")
			}
		}
		return dc;
	}
	addMdc(param, rectDraw, moduleType, baseColor) {
		if(typeof(param,'node')) {
			dc=param;
		} else {
			dc=this.getMdc(param, moduleType)
		}
		if( typeof(rectDraw,'bool') ) {
			if(dc.var(img)) {
				this.addMdcList(dc, rectDraw)
			} else {
				print("@@ canvas addMdc $param 메모리그리기 객체가 생성되지 않았습니다")
			}
			return;
		}
		dc.var(@canvas, this)
		if(typeof(rectDraw,'rect')) {
			rectDraw.inject(x,y,w,h)
			rectAvail=rc(0,0,w,h)
			offset=pt(x,y)
			mdc(dc, w, h)
			dc.with(@offset, @rectDraw, @rectAvail)
		}
		if(baseColor) {
			if(typeof(baseColor,'string')) {
				baseColor=color(baseColor)
			}
		} else {
			not( dc.var(baseColor) ) {
				baseColor=this.baseColor
				not(baseColor) baseColor=randomColor()
			}
		}
		if( typeof(baseColor,'color')) {
			dc.var(@baseColor)
		}
		not( dc.var(@useModule) ) {
			if(moduleType) {
				addModule(dc,"mdc,$moduleType")
				dc.var(@moduleType)
			}
		} 
		dc.inject(@rectAvail, @rectAvailPrev)
		if(typeof(rectAvail,'rect')) {
			not(rectAvail.eq(rectAvailPrev)) {
				dc.updateMdc()
				this.var(@rectAvailPrev, rectAvail)
			}
			dc.drawDc()
		}
		return this.addMdcList(dc)
	}
	removeMdc(mdc, checkUpdate) {
		this.inject(@mdcList)
		mdcList.remove(mdc)
		if(checkUpdate) this.update()
	}	
	addOverlay(mdc) {
		this.inject(@overlayList)
		not( overlayList.find(mdc)) overlayList.add(mdc)
		this.update()
	}
	removeOverlay(mdc) {
		this.inject(@overlayList)
		overlayList.remove(mdc)
		this.update()
	}
	
	
</script>

<script module="canvas_form" note="canvas 폼처리함수 함수">
	initForm(formInfo) {		
		form=this.addNode('@form',true)
		lineCount=getLineCount(formInfo)
		not(lineCount) {
			form.var(@error, '폼정보 미정의')
			return form;
		}
		if(lineCount.eq(1) && formInfo.find('.') ) {
			formInfo = conf(formInfo)
		} 
		form.parseJson(formInfo)
		formItems=form.get('form')
		if(typeof(formItem,'array')) {
			if(typeof(formItem[0],'array')) {
				not(form.heights) form.sizeInfo=formItems.size()
			}		
		} else {
			form.var(@error, '폼아이템 정보 미정의')
		}
		canvas = this
		while(cur,form) {
			cur.inject(tag, code) 
			if(tag.eq('btn','space','label','check','radio')) {
				this.var(@useDraw, true)
				if(tag.eq('btn','check','radio')) {
					this.var(@useMouseEvent, true)
				}
			} else if(tag) {
				this.var(@widget, createWidget(tag,code,canvas,'',true) )
			}
		}
		return form;
	}
	
	updateForm(dc,form,rect) {
		form.inject(@error)
		if(error) {
			print("@@캔바스 updateForm 오류: $error")
			return;
		}
		formItems=form.get('form')
		if( form.sizeInfo ) {
			vbox(rectCanvas, form.sizeInfo, form.addArray('@rectRows',true))
			while(rows, formItems, rowIndex) {
				fieldCount = rows.size()
				while(cur, rows) {
					not(typeof(cur,'node')) continue;
					cur.var(@rowIndex, @fieldCount)
				}
			}
		}
		form.inject(@rectRows)
		if( rectRows ) {
			while(rows, formItems, row) {
				updateFormRect(rows, rectRows[$row])
			}
		} else {
			updateFormRect(formItems, param)
		}
		updateFormRect = function(rows, param) {
			if(typeof(param,'array')) {
				while(rect, param, idx) {
					not(typeof(rect,'rect')) continue;
					cur=rows.child(idx)
					if(cur) cur.rect=rect
				}
				return;
			} 
			rectForm=param
			arr=[]
			while(cur, rows) {
				cur.inject(@widget, @useDraw, tag, width )
				if(width) {
					arr.add(width)
				} else if(@widget) {
					if(tag.eq('canvas','grid','editor','splitter','div','space')) {
						arr.add('*')
					} else if(tag.eq('date','time')) {
						arr.add(125)
					} else if(tag.eq('combo','input')) {					
						arr.add(150)
					}
				} else {
					if(@useDraw) {
						cur.inject(icon, font, text, padding, image)
						tw=0
						if(text) {						
							if(font) {
								dc.save().font(font)
								dc.textWidth(text).inject(tw,th)
								dc.restore()
							} else {
								dc.textWidth(text).inject(tw,th)
							}
							if(icon) {
								tw+=40
							}							
						} 
						if(tag.eq('check')) {
							cur.var(@checkIcon, 'icons:check1')
							tw+=40
						}	
						else if(image) {
							getImageSize(image).inject(iw,ih)
							tw=iw
						}
						if(tw) {
							if(padding) tw+=padding*2
							arr.add(tw)
						} else {
							arr.add(100)
						}
					} else {
						arr.add(20)
					}
				}
			}
			info=arr.join()
			while(rect, hbox(rect,info), idx) {
				rows.get(idx).with(@rect)
			}
		};
	}
	drawForm(dc,form) {
		this.inject(@currentDownNode, @currentOverNode)
		while(cur, form) {
			cur.inject(@widget, @rect, @useDraw, @useMouseEvent, tag) not(rect) continue;
			if( widget) {
				widget.move(rect)
				if(hide) widget.hide()
				continue;
			}
			if(useMouseEvent) {
				switch(tag) {
				case btn: this.drawBtn(dc,rect,cur)
				case check: this.drawCheckbox(dc,rect,cur)
				case radio: this.drawRadiobox(dc,rect,cur)
				}
			}
			else if(useDraw) {
				this.drawLabelText(dc,rect,cur)
			}			
		}
	}
	drawBtn(dc,rc,cur) {
		cur.inject( code, text, disable, hide )
		print("draw btn >> ", cur)
	}
	drawCheckbox(dc,rc,cur) {
		cur.inject( code, text, disable, hide )
	}
	drawRadiobox(dc,rc,cur) {
		cur.inject( code, text, disable, hide )
	}
	drawLabelText(dc,rc,cur) {
		cur.inject( code, text, disable, hide )
	}

	mouseDownForm(pos) {
		while(cur, form) {
			cur.inject(@useMouseEvent, rect)
			not(useMouseEvent) continue;
			not(rect.contains(pos)) continue;
			this.var(currentDownNode,cur)
			this.update()
			return true;
		}
		return false;
	}
	mouseUpForm(pos) {
		this.inject(@currentDownNode) not(currentDownNode) return false;		
		checkContain=false
		if( rect.contains(pos)) {
			this.clickButton(currentDownNode)
			checkContain=true
		}		
		this.var(@currentDownNode, null)
		this.update()
		return checkContain;
	}
</script>

<script type="common" note="canvas 공통 함수">
	initForm(formInfo) {
		not(typeof(this,'widget')) return;
		not(this.initForm) {
			addModule(this,'canvas_form')
		}
		return this.initForm(formInfo)
	}
	isMdcSizeChange(mdc, w,h) {
		mdc.var(rect).size().inject(mw,mh)
		if(mw.eq(w) && mh.eq(h)) {			
			return false;
		}
		print("mdc size change", mw,mh,w,h)
		return true;
	}
	getTextSize(text, style) {
		dc=Cf.getObject('mdc','get_text_size') 
		not(dc) {
			dc=mdc('get_text_size', 1000, 200)
		}
		if(style) {
			dc.font(style)
		}
		return dc.textSize(text)
	}
	mdc(check) {
		if(typeof(check,'node')) {
			args(d, param)
		} else if(typeof(check,'string')) {
			args(id, param)
			d=Cf.getObject('mdc',id) 
			not(d) {
				d=Cf.getObject('mdc',id, true)
				d.id=id
			}
		}
		not(param) return d;
		img=null
		if(typeof(param,'string')) {
			img=Cf.imageLoad(param)
		} else if(typeof(param,'image')) {
			img=param
		} else if(typeof(param,'node')) {
			img=param.var(image)
		} 
		if(img) {
			if( d.var(img)) {
				d.destroy()
				d.var(rect, null)
			}
			Baro.drawObject(d,img)
			return d;
		}

		if(typeof(param,'point')) {
			param.inject(width, height);
		} else if(typeof(param,'widget')) { 
			param.rect().inject(x,y,width, height)
		} else if(typeof(param,'rect')) { 
			param.size().inject(width, height);
		} else {
			args(1,width, height)
		}
		not( typeof(width,'num') && typeof(height,'num')) {
			return print("메모리 DC생성 영역오류(폭:$width 높이:$height)", param);
		}
		if(d.var(rect)) {
			d.var(rect).size().inject(w, h)
			if( width.eq(w) && height.eq(h) ) {
				return d;
			} 
			d.destroy()
			d.var(rect, null)
		} 
		Baro.drawObject(d, width, height);
		return d;
	}
</script>

<script type="draw" note="공통 그리기 함수">
	roundBox(dc, rcBox, rad, penColor) {
		dc.save()
		dc.mode()
		not(penColor) penColor=null
		rad2=rad*2;
		lt=rcBox.leftTop(rad2,rad2), rt=rcBox.rightTop(rad2,rad2);
		lb=rcBox.leftBottom(rad2,rad2), rb=rcBox.rightBottom(rad2,rad2);
		path=[]
		path.add('arc',rt, 0, 90, lt.tc(), 'arc', lt, 90,90, lb.lc(), 'arc',lb,180,90, rb.bc(), 'arc',rb,270,90)
		if(type.eq('gradient','radial','conical')) {
			arr=args(5)
			if(type=='gradient') {
				c1=arr.get(0), c2=arr.get(1)
				rc.lt().inject(sx,sy)
				rc.lb().inject(ex,ey)
				dc.drawPath(path, penColor, true,'gradient',sx,sy,ex,ey,0,c1,1,c2)
			} else if(type=='radial') {
				arr.inject(cx, cy, px, py, c1, c2)
				dc.drawPath(path, penColor, true,'radial',cx, cy, px, py,0,c1,1,c2)
			} else {
				arr.inject(cx, cy, c1, c2)
				dc.drawPath(path, penColor, true,'conical',cx, cy, 0,c1,1,c2)
			}
		} else {
			bgColor=type
			if(bgColor) {
				dc.drawPath(path, penColor, true,bgColor)	
			} else {
				dc.drawPath(path, penColor, true)
			}			
		}
		dc.restore()
	}
	
	roundRect(dc, rc, rad, penColor, type) {
		dc.save()
		dc.mode()
		if(penColor) {
			dc.pen(penColor)
		} else {
			dc.pen(null)
		}		
		path=[]
		path.add('round',rc, rad, rad)
		// ex) roundRect(dc, rcBox, 20, c.darkColor(100),'gradient', c, c.darkColor(100) )
		if(type.eq('gradient','radial','conical')) {
			arr=args(5)
			if(type=='gradient') {
				c1=arr.get(0), c2=arr.get(1)
				rc.lt().inject(sx,sy)
				rc.lb().inject(ex,ey)
				dc.drawPath(path, penColor, true,'gradient',sx,sy,ex,ey,0,c1,1,c2)
			} else if(type=='radial') {
				arr.inject(cx, cy, px, py, c1, c2)
				dc.drawPath(path, penColor, true,'radial',cx, cy, px, py,0,c1,1,c2)
			} else {
				arr.inject(cx, cy, c1, c2)
				dc.drawPath(path, penColor, true,'conical',cx, cy, 0,c1,1,c2)
			}
		} else {
			bgColor=type
			if(bgColor) {
				dc.drawPath(path, penColor, true,bgColor)	
			} else {
				dc.drawPath(path, penColor, true)
			}			
		}
		dc.restore()
	} 
</script>

<script type="drawUtil" note="그리기 유틸리티 함수">
	
	
</script>

<script type="range" note="영역처리 함수">
	vbox(rc, sizes, param) {
		if(typeof(param,'array')) {
			a=param
		}
		else if(param) {
			a=[]
		} 
		else {
			a=_arr()
		}
		rc.inject(sx,sy,w,h)
		while(hh, recalc(h,sizes)) {
			a.add(rc(sx,sy,w,hh))
			sy+=hh;
		}
		return a;
	}
	hbox(rc, sizes, param) {
		if(typeof(param,'array')) {
			a=param
		}
		else if(param) {
			a=[]
		} 
		else {
			a=_arr()
		}
		rc.inject(sx,sy,w,h)
		while(ww, recalc(w,sizes)) {
			a.add(rc(sx,sy,ww,h))
			sx+=ww;
		}
		return a;
	}
	toRect(rc) {
		rc.inject(x,y,w,h);
		return Baro.rect(x,y,w,h);
	}
	toRc(rc) {
		rc.inject(x,y,w,h);
		return Baro.rc(x,y,w,h);
	} 
	point(param) {
		if(typeof(param,'rect')) {
			return param.lt();
		} else if(typeof(param,'point')) {
			return param;
		} else if(typeof(param,'num')) {
			args(width, height);
			return Baro.point(width, height);
		}
		return Baro.point(0,0);
	} 
	mergeRect(param) {
		cx=0,cy=0,cr=0,cb=0;
		if(typeof(param,'array')) arr=param
		else arr=args()
		while(rc, arr, idx) {
			not(typeof(rc,'rect')) continue;
			rc.inject(x,y,w,h);
			r=x+w, b=y+h;
			if(idx==0) {
				cx=x,cy=y,cr=r,cb=b;
			} else {
				if(x<cx) cx=x;
				if(y<cy) cy=y;
				if(cr<r) cr=r;
				if(cb<b) cb=b;
			}
		}
		w=cr-cx;
		h=cb-cy;
		return rc(cx, cy, w, h)
	}
</script>

