<script module="canvas">
	init() {
		this.addArray('@mdcList')
		this.addArray('@overlayList')
		this.addArray('@clipList')
		this.addArray('@pathList')
		this.timer(500)
		this.var(useDrawPath, false)
	}
	canvasSize() {
		return this.rect().size()
	}
	addClipMdc(mdc) {
		this.inject(@clipList)
		not(clipList.find(mdc)) clipList.add(mdc)
	}
	removeClipMdc(mdc) {
		this.inject(@clipList)
		clipList.remove(mdc)
	}
	addMdcList(mdc, redraw) {
		this.inject(@mdcList)
		not(mdcList.find(mdc)) {
			mdcList.add(mdc)
			mdc.drawDc()
		}
		if(redraw) {
			this.update()
		}
		return mdc;
	}
	getMdc(param, moduleType) {		
		this.inject(@baseCode, id)
		dc=mdc("$baseCode#$id.$param")
		if( moduleType ) {
			not(dc.var(@useModule)) {
				dc.var(@canvas, this)
				dc.var(@moduleType)
				addModule(dc,"mdc,$moduleType")
			}
		}
		return dc;
	}
	addMdc(param, rectDraw, moduleType, baseColor) {
		if(typeof(param,'node')) {
			dc=param;
		} else {
			dc=this.getMdc(param, moduleType)
		}
		if( typeof(rectDraw,'bool') ) {
			if(dc.var(img)) {
				this.addMdcList(dc, rectDraw)
			} else {
				print("@@ canvas addMdc $param 메모리그리기 객체가 생성되지 않았습니다")
			}
			return;
		}
		dc.var(@canvas, this)
		if(typeof(rectDraw,'rect')) {
			rectDraw.inject(x,y,w,h)
			rectAvail=rc(0,0,w,h)
			offset=pt(x,y)
			mdc(dc, w, h)
			dc.with(@offset, @rectDraw, @rectAvail)
		}
		if(baseColor) {
			if(typeof(baseColor,'string')) {
				baseColor=color(baseColor)
			}
		} else {
			not( dc.var(baseColor) ) {
				baseColor=this.baseColor
				not(baseColor) baseColor=randomColor()
			}
		}
		if( typeof(baseColor,'color')) {
			dc.var(@baseColor)
		}
		not( dc.var(@useModule) ) {
			if(moduleType) {
				addModule(dc,"mdc,$moduleType")
				dc.var(@moduleType)
			}
		} 
		dc.inject(@rectAvail, @rectAvailPrev)
		if(typeof(rectAvail,'rect')) {
			not(rectAvail.eq(rectAvailPrev)) {
				dc.updateRect()
				this.var(@rectAvailPrev, rectAvail)
			}
			dc.drawDc()
		}
		return this.addMdcList(dc)
	}
	removeMdc(mdc, checkUpdate) {
		this.inject(@mdcList)
		mdcList.remove(mdc)
		if(checkUpdate) this.update()
	}
	updateRectCheck(rc) {
		// print("@@ upate check updateCheckTick==${this.updateCheckTick}")
		this.updateCheckTick=System.tick()
		this.var(@rectCanvas, rc)
		this.updateRect()
	}
	updateMdc() {
		print("@@ canvas 객체에 updateMdc 함수 중복정의 하세요")
	}
	updateRect() {
		this.var(@mdcList).reuse()
		this.updateMdc()
		this.update()
	}
	addOverlay(mdc) {
		this.inject(@overlayList)
		not( overlayList.find(mdc)) overlayList.add(mdc)
		this.update()
	}
	removeOverlay(mdc) {
		this.inject(@overlayList)
		overlayList.remove(mdc)
		this.update()
	}
	addTimeline(timelineCode, target, checkStart) {
		tm=this.timeline(timelineCode)
		tm.config().set('target', target)
		if(checkStart) {
			tm.start(20,800)
		}
		return tm;
	}
	removeTimeline(timelineCode) { 
		while(pair, this.timeline(), idx) {
			pair.inject(code, tm)
			if(code.eq(timelineCode)) {
				tm.stop()
				this.timeline().remove(idx)
				return true;
			}
		}
		return false;
	}
	drawBackground(dc) { return false }
	mouseDown(pos) {
		this.inject(@buttons) not(buttons) return false;
		while(cur, buttons) {
			cur.inject(code, rect, disable) not(rect) continue;
			if(disable) continue;
			if(rect.contains(pos)) {
				this.var(@currentMouseNode, cur)
				this.update()
				return true;
			}
		}
		return false;
	}
	mouseUp(pos) {
		this.inject(@buttons, @currentMouseNode)
		not(currentMouseNode) return false;
		currentMouseNode.inject(code, rect)
		checkContain=false
		if(rect.contains(pos)) {
			this.clickButton(currentMouseNode)
			checkContain=true
		}		
		this.var(@currentMouseNode, null)
		this.update()
		return checkContain;
	}
	clickButton(currentNode) {
		print("@@ click button =>" currentNode)
	}
	onTimer() {
		while(mdc, this.var(@clipList)) {
			rect=mdc.getClipRect()
			not(typeof(rect,'rect')) {
				continue;
			}
			mdc.inject(@clipTick, @clipDuration)
			if(checkTick(clipTick, clipDuration)) {
				this.update(rect)
				break;
			} else {
				not(clipTick) clipTick=System.tick()
				continue;
			}
		}
	}
	onDraw(dc,rc) {
		if( rc.eq(this.rect()) ) {
			this.inject(@rectCanvas)
			not( rc.eq(rectCanvas) ) {
				this.updateRectCheck(rc)
			}
		} else {
			while(mdc, this.var(@clipList)) {
				mdc.inject(@rectClip) 
				not(rectClip) {
					continue;
				}
				if(rectClip.eq(rectClip)) {
					mdc.drawClip(dc,rc)
					break;
				}
			}
			return;
		}
		check=this.drawBackground(dc)
		if( typeof(check,'bool') && check ) {
			return;
		}
		this.inject(@mdcList, @overlayList, @pathList)
		while(mdc, mdcList) {
			mdc.draw(dc)
		}
		if( this.var(@popupDialog) ) {
			dc.fill(color(0,0,0,50))
			this.var(@popupDialog).draw(dc)
		}
		while(mdc, overlayList) {
			mdc.inject(@cause, @rectOverlay,@offset)
			mdc.drawOverlay(dc)
		}
		while(pair, this.timeline()) {
			pair.inject(code, tm)
			if( tm.state()) {
				target = tm.config().get('target')				
				if( target && target.drawTimeline(dc, code, tm) ) break;
			}
		}
		if( this.var(useDrawPath) && isValid(pathList) ) {
			dc.save()
			dc.drawPath(pathList, this.baseColor)
			dc.restore()
		}
	}
	
	onMouseDown(pos) {
		if(this.mouseDown(pos) ) return true;
		this.inject(@mdcList, @popupDialog)
		if(popupDialog) { 
			not( popupDialog.mouseDownDefault(pos) ) {
				this.var(popupDialog,null)
				this.addTimeline('closePopup',popupDialog,true)
				this.update()
			}
			return true;
		}
		if(isValid(mdcList)) {
			while(n=mdcList.size()-1,0) {
				mdc=mdcList.get(n)
				if( mdc.mouseDownDefault(pos) ) return true;
			}
		}
	}
	onMouseUp(pos) {
		if(this.mouseUp(pos) ) return true;
		this.inject(@mdcList, @popupDialog)
		if( popupDialog) { 
			popupDialog.mouseUpDefault(pos)
			return true;
		}
		if( isValid(mdcList)) {
			while(n=mdcList.size()-1,0) {
				mdc=mdcList.get(n)
				if( mdc.mouseUpDefault(pos) ) return true;
			}
		}
	}
</script>

<script type="common" note="canvas 공통 함수">
	isMdcSizeChange(mdc, w,h) {
		mdc.var(rect).size().inject(mw,mh)
		if(mw.eq(w) && mh.eq(h)) {			
			return false;
		}
		print("mdc size change", mw,mh,w,h)
		return true;
	}
	mdc(check) {
		if(typeof(check,'node')) {
			args(d, param)
		} else if(typeof(check,'string')) {
			args(id, param)
			d=Cf.getObject('mdc',id) 
			not(d) {
				d=Cf.getObject('mdc',id, true)
				d.id=id
			}
		}
		not(param) return d;
		img=null
		if(typeof(param,'string')) {
			img=Cf.imageLoad(param)
		} else if(typeof(param,'image')) {
			img=param
		} else if(typeof(param,'node')) {
			img=param.var(image)
		} 
		if(img) {
			if( d.var(img)) {
				d.destroy()
				d.var(rect, null)
			}
			Baro.drawObject(d,img)
			return d;
		}

		if(typeof(param,'point')) {
			param.inject(width, height);
		} else if(typeof(param,'widget')) { 
			param.rect().inject(x,y,width, height)
		} else if(typeof(param,'rect')) { 
			param.size().inject(width, height);
		} else {
			args(1,width, height)
		}
		not( typeof(width,'num') && typeof(height,'num')) {
			return print("메모리 DC생성 영역오류(폭:$width 높이:$height)", param);
		}
		if(d.var(rect)) {
			d.var(rect).size().inject(w, h)
			if( width.eq(w) && height.eq(h) ) {
				return d;
			} 
			d.destroy()
			d.var(rect, null)
		} 
		Baro.drawObject(d, width, height);
		return d;
	}
</script>

<script type="draw" note="공통 그리기 함수">
	roundBox(dc, rcBox, rad, penColor) {
		dc.save()
		dc.mode()
		not(penColor) penColor=null
		rad2=rad*2;
		lt=rcBox.leftTop(rad2,rad2), rt=rcBox.rightTop(rad2,rad2);
		lb=rcBox.leftBottom(rad2,rad2), rb=rcBox.rightBottom(rad2,rad2);
		path=[]
		path.add('arc',rt, 0, 90, lt.tc(), 'arc', lt, 90,90, lb.lc(), 'arc',lb,180,90, rb.bc(), 'arc',rb,270,90)
		if(type.eq('gradient','radial','conical')) {
			arr=args(5)
			if(type=='gradient') {
				c1=arr.get(0), c2=arr.get(1)
				rc.lt().inject(sx,sy)
				rc.lb().inject(ex,ey)
				dc.drawPath(path, penColor, true,'gradient',sx,sy,ex,ey,0,c1,1,c2)
			} else if(type=='radial') {
				arr.inject(cx, cy, px, py, c1, c2)
				dc.drawPath(path, penColor, true,'radial',cx, cy, px, py,0,c1,1,c2)
			} else {
				arr.inject(cx, cy, c1, c2)
				dc.drawPath(path, penColor, true,'conical',cx, cy, 0,c1,1,c2)
			}
		} else {
			bgColor=type
			if(bgColor) {
				dc.drawPath(path, penColor, true,bgColor)	
			} else {
				dc.drawPath(path, penColor, true)
			}			
		}
		dc.restore()
	}
	
	roundRect(dc, rc, rad, penColor, type) {
		dc.save()
		dc.mode()
		if(penColor) {
			dc.pen(penColor)
		} else {
			dc.pen(null)
		}		
		path=[]
		path.add('round',rc, rad, rad)
		// ex) roundRect(dc, rcBox, 20, c.darkColor(100),'gradient', c, c.darkColor(100) )
		if(type.eq('gradient','radial','conical')) {
			arr=args(5)
			if(type=='gradient') {
				c1=arr.get(0), c2=arr.get(1)
				rc.lt().inject(sx,sy)
				rc.lb().inject(ex,ey)
				dc.drawPath(path, penColor, true,'gradient',sx,sy,ex,ey,0,c1,1,c2)
			} else if(type=='radial') {
				arr.inject(cx, cy, px, py, c1, c2)
				dc.drawPath(path, penColor, true,'radial',cx, cy, px, py,0,c1,1,c2)
			} else {
				arr.inject(cx, cy, c1, c2)
				dc.drawPath(path, penColor, true,'conical',cx, cy, 0,c1,1,c2)
			}
		} else {
			bgColor=type
			if(bgColor) {
				dc.drawPath(path, penColor, true,bgColor)	
			} else {
				dc.drawPath(path, penColor, true)
			}			
		}
		dc.restore()
	} 
</script>

<script type="range" note="영역처리 함수">
	vbox(rc, sizes, local) {
		if(local) {
			a=[]
		} else {
			a=_arr()
		}
		rc.inject(sx,sy,w,h)
		while(hh, recalc(h,sizes)) {
			a.add(rc(sx,sy,w,hh))
			sy+=hh;
		}
		return a;
	}
	hbox(rc, sizes, local) {
		if(local) {
			a=[]
		} else {
			a=_arr()
		}
		rc.inject(sx,sy,w,h)
		while(ww, recalc(w,sizes)) {
			a.add(rc(sx,sy,ww,h))
			sx+=ww;
		}
		return a;
	}
	toRect(rc) {
		rc.inject(x,y,w,h);
		return Baro.rect(x,y,w,h);
	}
	toRc(rc) {
		rc.inject(x,y,w,h);
		return Baro.rc(x,y,w,h);
	} 
	point(param) {
		if(typeof(param,'rect')) {
			return param.lt();
		} else if(typeof(param,'point')) {
			return param;
		} else if(typeof(param,'num')) {
			args(width, height);
			return Baro.point(width, height);
		}
		return Baro.point(0,0);
	} 
	mergeRect(param) {
		cx=0,cy=0,cr=0,cb=0;
		if(typeof(param,'array')) arr=param
		else arr=args()
		while(rc, arr, idx) {
			not(typeof(rc,'rect')) continue;
			rc.inject(x,y,w,h);
			r=x+w, b=y+h;
			if(idx==0) {
				cx=x,cy=y,cr=r,cb=b;
			} else {
				if(x<cx) cx=x;
				if(y<cy) cy=y;
				if(cr<r) cr=r;
				if(cb<b) cb=b;
			}
		}
		w=cr-cx;
		h=cb-cy;
		return rc(cx, cy, w, h)
	}
</script>

