<script note="앱공통 유틸리티 함수">
	initConfig() {
	
	}
	
	runSrc(code) {
		return runSource(cv(code))
	}
	getSrc(code) {
		return getSource(cv(code), this, Cf.funcNode('parent'))
	}	
	callModuleFunc(service, funcName) {
		if(typeof(service,'node')) {
			serviceNode=service
		} else {
			serviceNode=@baro.getServiceNode(service)
		}
		not(typeof(serviceNode,'node')) {
			return print("@@callModuleFunc 대상 서비스찾기 실패", service)
		}
		params=args(2)
		if(typeof(funcName,'func')) {
			fc=funcName
		} else {
			fc=call(funcName)
		}		
		not(typeof(fc,'func')) {
			return print("@@callModuleFunc $funcName 함수오류", params)
		}
		return call(fc,serviceNode,params)
	}
	callPython(node, callback) {
		if(typeof(node,'string')) {
			command=node
			node=_node().with(command)
		}
		not(typeof(node,'node')) return print("@@callPython 대상노드 미정의");
		not(node.command) return print("@@callPython 명령줄 미정의 (대상노드 command가 없습니다)"); 
		node.callbackResult = callback
		node.var(status,'call')
		addUserWorker('python', node, func(node) {
			node.inject(command, callbackResult)
			callPythonCommand(command, callbackResult)
			node.var(status,'finish')
		});
	}
	callPythonCommand(command, callback) {
		cmd=Baro.process('runCommand')
		not(cmd.cmp('@workerStatus', 'run') ) {
			return print("@@ python command가 실행중이 아닙니다", cmd)
		}
		cmd.inject(logTail, logAppend)
		logTail.timeout()
		logAppend.append("@#>$command")
		result=''
		while(notValid(result), n) {
			System.sleep(100)
			result=logTail.timeout()
			if(result) {
				if(typeof(callback,'func')) {
					callback(result)
				} else {
					print(">>callPythonCommand result==$result")
				}
				break;
			}
			if(n==4000) break;
		}
		return result;
	}
	
	availRect( rect, inputHeight ) {
		pt=rect.lt().incr(2,2);
		rect.inject(x,y,w,h);
		cnt=System.info('screenCount');
		while( n, cnt ) {
			rcAvail=System.info('availRect', n);
			not( rcAvail.contains(pt) ) continue;
			rb=rect.bottom(), ab=rcAvail.bottom();
			rr=rect.right(), ar=rcAvail.right();
			print(rect, pt, rcAvail, rb, rr, ab,ar );
			/* bottom이 벗어난 경우 */
			if( rb>ab ) {
				if( inputHeight ) {
					y-=inputHeight;
					y-=h;
					if( y.lt(0) ) y=0;
					rect.y(y);
				} else {
					rect.bottom(ab);
					if( rect.height() < h ) {
						dist= rect.height() - h;
						rect.incrY(dist);
					}
				}
			}
			/* right가 벗어난 경우 */
			if( rr>ar ) {
				if( inputHeight ) {
					rect.right(x);
				} else {
					rect.right(ar);
					if( rect.width() < w ) {
						dist= rect.width() - w;
						rect.incrX(dist);
					}
				}
			}
			rcAvail.inject(ax, ay);
			if( rect.x()<ax ) {
				rect.x(ax);
			}
			if( rect.y()<ay ) {
				rect.y(ay);
			}
			break;
		}
		return rect;
	}
	
</script>