<script module="message_server" note="메시지서버 모듈">
	init() {
		@server = Baro.was('message_server')
		@max_buffer_size = 8192
		@session = global().addNode('@sessionMaps')
	}
	start(port) {
		not(port) port=8094
		server.startServer(port, this, this.serverProc)
	}
	closeClient(client) {
		cf=client.config()
		print('close client === ', client, cf)
	}
	serverProc(client) { 
		if( client.isCall()) {
			print("@@ server 메시지 클라이언트 처리중")
			return;
		}
		data=client.recvData();
		if( typeof(data,'bool') ) {
			return;
		}
		this.dispatchData(client,data)
		not( client.isConnect()) {
			this.closeClient(client)
		}
	}
	dispatchData(client, &data) {
		left=data.findPos('##>') 
		if( left.size() > 32 ) {
			print("@@message_server dispatchData 시작오류 ", left.size())
			return;
		}
		not(lineCheck(data,'{')) {
			return print("@@message_server dispatchData 프로토콜오류 line=$line")  
		}
		line=data.findPos("{",1,1)
		type=line.findPos(':').trim()
		size=line.findPos(':').trim()
		params=line.trim()
		props=data.match()
		data.findPos("\r\n\r\n")
		not(config.@messageNode) {
			config.addNode('@messageNode')
		}
		this.dispatchMessage(client, type, params, props, data, size.toInt() )
	}
	dispatchMessage(client, type, params, props, data, size) {
		print(">> server dispatch message ",type, prarams, props, size )
		config=client.config()
		client.@messageNode.removeAll(true)
		if( props) {
			client.@messageNode.parseJson(props)
		}
		switch(type) {
		case login: 
			this.resLogin(client, messageNode, params, config)
		case uploadFile:
			this.resUploadFile(client, messageNode, params, config)
		case downloadFile:
			this.resDownloadFile(client, messageNode, params, config)
		default:
			return print("@@dispatchMessage 타입:$type 미정의");
		}
	}
	setResultType(node, type, message) {
		node.resultType=type
		node.message = message
		return node;
	}
	sendClient(client, type, params, props, data) {
		not(props) {
			tm=System.localtime()
			props="{tm:$tm}"
		}
		size=data.size()
		not( client.sendData("##>$type:$size:$params$props\r\n\r\n$data") ) {
			client.close()
		}
	}
	clientList() {
		return server.clientArray()
	}
	resLogin(client, messageNode, params, config) {
		messageNode.inject(userId, workType)
		if(userId) { 
			not(workType) workType='message'
			token=strEncode(userId,'_',System.tick())
			messageNode.token = token
			this.setResultType(messageNode, "ok", "로그인성공")
			session.set("login.$token", client)
			config.with(@userId,@workType,@token)
		} else {
			this.setResultType(messageNode, "error", "사용자 아이디가 없습니다")
		}
		this.sendClient(client, 'res_login', params, json(messageNode), '')
	}
	
	resUploadFile(client, messageNode, params,config) {
		messageNode.inject(remoteFilename)
		config.inject(@userId)
		tempPath = conf('path.temp')
		tempFilename = pathJoin(tempPath, strJoin(userId,'-',System.tick()) )
		file=getFileObject()
		print("xxxx server uploadFile xxxxx", remoteFilename, messageNode, max_buffer_size)
		if(file.open(tempFilename,'append')) {
			file.append(data)
			appendSize = data.size()
			errorCheck=false
			while( size.gt(appendSize) ) {
				remain=size - appendSize;
				if( remain.gt(max_buffer_size)) remain=max_buffer_size
				recv = client.recvData(remain)				
				if(typeof(recv,'bool')) {
					print("@@ server recv error : ", recv, size, appendSize, remain)
					errorCheck=true
					break;
				}
				recvSize=recv.size()
				file.append(recv)
				appendSize+=recvSize;
				// print(">> server upload recv 정보 : ", size, appendSize, recvSize )
				if( remain.gt(recvSize) ) {
					print("@@ server upload recv 불일치 : ", remain, recvSize )
				}
			}
			if(errorCheck) {
				print("@@ server upload중 오류가 발생했습니다", messageNode)
			} else {
				if( isFile(remoteFilename)) {
					remoteFilename = getDownloadName(remoteFilename)
				}
				print("xxxxxxx file move xxxxxxxxx", tempFilename, remoteFilename)
				fileMove(tempFilename, remoteFilename, true, 'command')
			}
			file.close()
		} else {	
			this.setResultType(messageNode, "error", "$remoteFilename 파일열기 오류")
		}
		this.sendClient(client, 'res_upload', params, json(messageNode), '')
	}
	
	resDownloadFile(client, messageNode, params,config) {
		messageNode.inject(remoteFilename)
		file=getFileObject()
		sendFlag=false
		if(file.open(remoteFilename,'read')) {
			this.setResultType(messageNode,"ok","$remoteFilename 파일 다운로드 시작")
			sendFlag = true
			sendSize = 0			
			totalSize=file.size()
			props=json(messageNode)
			while(totalSize.gt(sendSize), idx) {
				remain = totalSize - sendSize
				if(remain.gt(max_buffer_size)) remain=max_buffer_size
				data=file.read(remain)
				if(idx==0) {
					result=client.sendData("##>res_download:$totalSize:$params$props\r\n$data")
				} else {
					result=client.sendData(data)
				}
				not(result) {
					print("@@ message_server download 파일 전송오류 ", totalSize, sendSize)
					break;
				}
				sendSize+=data.size();
			}
			if( error ) {
				print("@@ download error $remotFilePath", totalSize, sendSize)
				client.close()
			}
		} else {
			this.setResultType(messageNode,"error","$remotFilePath 파일오픈 오류")
			print("@@ download error $remotFilePath", totalSize, sendSize)
		}
		file.close()
		print(">> download sendFlag == $sendFlag", messageNode)
		not(sendFlag) {
			this.sendClient(client, 'res_download', params, json(messageNode), '')
		}
	}

</script>