<script module="message_client" note="메시지클라이언트 모듈">
	init(userId) {
		not(userId) userId='guest'
		@worker=Baro.worker(userId)
		@socket=Baro.socket(userId)
		@soeket_timeout = 1000
		worker.start(this, this.clientProc, true, 100)
		this.addNode('@messageNode')
		this.with(@userId, @status:'first')
	}
	setConnectInfo(host,port) {
		if(socket.isConnect()) {
			return print("@@message_client 소켓이 이미 연결중입니다")
		}
		this.with(@status:'ready', @host, @port)
	}
	isConnect() {
		return socket.isConnect()
	}
	closeServer() {
		not(socket.isConnect()) {
			return print("@@message_client 소켓이 연결중이 아닙니다")
		}
		this.var(@status, 'close')
		socket.close()
	}
	clientProc() {
		this.inject(@status)
		if( status.eq('ready','error') ) {	
			this.inject(@host, @port)
			if( host && port) {
				this.with(@status: 'connecting')
				print("======== connect ========", host, post, soeket_timeout)
				if(socket.connect(host,port,soeket_timeout)) {
					this.with(@status: 'login')
				} else {
					this.with(@status:'connect_error', @retryTick: System.tick())
				}
			} else {
				this.with(@status: 'connect_notset')
			}
			return;
		} 
		not( socket.isConnect() ) {
			if(status.eq('first','close','connect_notset')) {
				return;
			}
			this.inject(@retryTick)
			if( retryTick ) {
				dist=System.tick() - retryTick
				if(dist.gt(5000)) {
					this.with(@status:'ready', @retryTick:0)
				}
			}
			return;
		}
		if( status.eq('login')) {
			this.with(@status: 'login_send')
			this.inject(@userId, @token, @messageNode)
			messageNode.removeAll(true).with(userId)
			this.sendReq('login', token, json(messageNode), '')
			return;
		}
		if( socket.isRead(500)) {
			this.dispatchRecv(socket.read())
		}
	}
	sendReq(type, params, props, data) {
		not(props) {
			tm=System.localtime()
			props="{tm:$tm}"
		}
		size=data.size()
		not( socket.sendData("##>$type:$size:$params$props\r\n\r\n$data") ) {
			this.closeServer()
			this.with(@status:'error')
		}
	}
	dispatchRecv(&data) {
		print("@@ client dispatchRecv data==$data")
		left=data.findPos('##>') 
		if(left.size() > 32 ) {
			return print("@@message_client dispatchRecv 시작오류 left=$left")
		}
		not(lineCheck(data,'{')) {
			return print("@@message_client dispatchRecv 프로토콜오류 line=$line")  
		}
		line=data.findPos("{",1,1)		
		type=line.findPos(':').trim()
		size=line.findPos(':').trim()
		params=line.trim()
		props=data.match()
		data.findPos("\r\n\r\n")		
		this.dispatchMessage(type, params, props, data, size.toInt() )
	}
	dispatchMessage(type, params, props, data, size) {
		cf=socket.config()
		cf.inject(@proxy)
		messageNode=cf.addNode('@messageNode').removeAll(true)
		switch(type) {
		case res_login: 
			messageNode.parseJson(props).inject(uesrId, workType)
			if(userId) {
			}
		default:
			print("@@ client dispatchMessage $type 미정의")
		}
	}

</script>