<script module="message_server" note="메시지서버 모듈">
	init() {
		@server = Baro.was('message_server')
		@max_buffer_size = 524288
		@proxy = global().addNode('@proxyMaps')
	}
	start(port) {
		not(port) port=8094
		server.startServer(port, this, this.serverProc)
	}
	serverProc(client) { 
		if( client.isCall()) {
			print("@@ server 메시지 클라이언트 처리중")
			return;
		}
		data=client.recvData();
		if( typeof(data,'bool')) {
			client.close();
			return;
		}
		cf=client.config()
		this.dispatchData(client,data)
	}
	dispatchData(client, &data) {
		print("@@ server dispatchData data==$data")
		left=data.findPos('##>') 
		if(left.size() > 32 ) {
			return print("@@message_server dispatchData 시작오류 left=$left")
		}
		not(lineCheck(data,'{')) {
			return print("@@message_server dispatchData 프로토콜오류 line=$line")  
		}
		line=data.findPos("{",1,1)
		type=line.findPos(':').trim()
		size=line.findPos(':').trim()
		params=line.trim()
		props=data.match()
		data.findPos("\r\n\r\n")		
		this.dispatchMessage(client, type, params, props, data, size.toInt() )
	}
	dispatchMessage(client, type, params, props, data, size) {
		print(ture)
		cf=client.config()
		cf.inject(@messageNode, userId, workType, token )
		print("xxxxxxxx dispatch message $type, $props, $cf xxxxxxxx")
		switch(type) {
		case login: 
			messageNode.parseJson(props,true).inject(uesrId, workType)
			if(userId) {
				not(workType) workType='message'
				token=strEncode(userId,'_',System.tick())
				cf.with(userId,workType,token)
				messageNode.token = token
				this.setResultType(messageNode, "ok", "로그인성공")
				proxy.set("login.$token", client)
			} else {
				this.setResultType(messageNode, "error", "사용자 아이디가 없습니다")
			}
			this.sendClient(client, 'res_login', params, json(messageNode), '')
		case uploadFile:
			messageNode.parseJson(props).inject(fullpath)
			file=getFileObject()
			if(file.open(fullpath,'append')) {
				recvSize = data.size()
				file.append(data)
				while( size.gt(recvSize) ) {
					remain=size - buffer.size();
					if(remain.gt(max_buffer_size)) remain=max_buffer_size
					recv = client.recvData(remain)
					if( recv.size()==remain ) {
						file.append(recv)
						print("upload file recv size == $remain")
						recvSize+=remain;
					} else {
						print("@@uploadFile recv size 불일치", remain, size )
						break;
					}
				}
				file.close()
			} else {	
				setResultType(messageNode, "error", "$fullpath 파일열기 오류")
			}
			this.sendClient(client, 'res_upload', params, json(messageNode), '')
		case downloadFile:
			messageNode.parseJson(props).inject(fullpath)
			file=getFileObject()
			sendFlag=false;
			if(file.open(fullpath,'read')) {
				totalSize=file.size()
				sendSize = 0
				error=false;
				while(totalSize.gt(sendSize), idx) {
					remain = totalSize - sendSize
					if(remain.gt(max_buffer_size)) remain=max_buffer_size
					send=file.read(remain)
					if( remain.eq(send.size()) ) {					
						if(idx==0) {
							this.setResultType(messageNode,"ok","$fullpath 파일 다운로드 시작")
							props=json(messageNode)								
							not(client.sendData("##>res_download:$totalSize:$params$props\r\n$send")) {
								error=true
							}
						} else {
							not(client.sendData(send)) {
								error=true
							}
						}
						sendSize+=send.size();
					} else {
						error=true
					}
					if(error) break;
				}
				if( error ) {
					print("@@ download error $fullpath", totalSize, sendSize)
					client.close()
				}
			} else {
				print("@@ download error $fullpath", totalSize, sendSize)
				this.setResultType(messageNode,"error","$fullpath 파일오픈 오류")
			}
			file.close()
			not(sendFlag) {
				this.sendClient(client, 'res_download', params, json(messageNode), '')
			}
		default:
			return print("@@dispatchMessage 타입:$type 미정의");
		}
	}
	setResultType(node, type, message) {
		node.resultType=type
		node.message = message
		return node;
	}
	sendClient(client, type, params, props, data) {
		not(props) {
			tm=System.localtime()
			props="{tm:$tm}"
		}
		size=data.size()
		not( client.sendData("##>$type:$size:$params$props\r\n\r\n$data") ) {
			client.close()
		}
	}
	clientList() {
		return server.clientArray()
	}
</script>