<script module="mdc" note="memory draw context 모듈함수">
	init() {
		print("mdc 초기화")
	}
	draw(dc) {
		this.inject(@rectDraw) 
		not(typeof(rectDraw,'rect')) return log("rectDraw 캔바스상 영역 미정의", this.id);
		dc.image(rectDraw, this)
	}
	canvasSize() {
		return this.var(canvas).rect().size();
	}
	canvasUpdate() {
		this.var(canvas).update()
	}
	addOverlay(cause, rectOverlay) {
		this.with(@cause, @rectOverlay)
		this.var(canvas).addOverlay(this)
	}
	removeOverlay(cause, rectOverlay) {
		this.with(@cause, @rectOverlay)
		this.var(canvas).removeOverlay(this)
	}
	addClipMdc(clipType, clipDuration) {
		clipTick=System.tick()
		not(clipDuration) clipDuration=500
		this.with(@clipType, @clipTick, @clipDuration)
		this.var(canvas).addClipMdc(this)
	}
	removeClipMdc() {
		this.with(@clipType)
		this.var(canvas).removeClipMdc(this)
	}
	updateRect(rectDraw) {
		print("@@ mdc 객체에서 updateRect 함수 중복정의 하세요 (그리기영역:$reactDraw)")
	}	
	drawTimeline(dc, code, timeline) {
		dc.save()
		frame=tm.frame()
		value=tm.currentValue();
		if(code.eq('fadeOut', 'fadeIn')) {			
			curVal=value*100;
			if(code.eq('fadeOut')) {
				if(frame==1) this.var(canvas).removeMdc(this)
				dc.opacity(100-curVal)
			} else {
				if(frame==19) this.var(canvas).addMdc(this)
				dc.opacity(curVal)
			}
		} else if( code.eq('moveLeft', 'moveRight', 'moveTop', 'moveBottom') ) {
			this.var(@rectDraw).inject(x,y,w,h)
			if(frame==1) {
				this.var(canvas).removeMdc(this)
				switch(code) {
				case moveLeft: 
					this.var(moveSize, when(this.var(fixedSize), w, x+w) );
				case moveRight:
					this.cavasSize().inject(cw, ch)
					this.var(moveSize, when(this.var(fixedSize), w, cw-x));
				case moveTop: 
					this.var(moveSize, y+h);
				case moveBottom: 
					this.cavasSize().inject(cw, ch)
					this.var(moveSize, ch-y);
				}				
			} else if( frame>10) {
				dc.opacity(50)
			}
			cv=this.var(moveSize) * value;
			switch(code) {
			case moveLeft: 
				x-=cv;
				if(frame==19) {
					if( this.var(minSize)) {
						x=w-this.var(minSize)
						this.var(canvas).addMdc(this)
					}
				}
			case moveRight: 
				x+=cv;
				if(frame==19) {
					if( this.var(minSize)) {
						this.canvasSize().inject(cw, ch)
						x=cw-this.var(minSize);
						this.var(canvas).addMdc(this)
					}
				}
			case moveTop: 
				y-=cv;
			case moveBottom: 
				y+=cv;
			}			
			this.var(@rectDraw, rc(x,y,w,h) )
			this.draw(dc)
		}
		dc.restore()
	}
	mouseDownDefault(pos) {				
		this.inject(id, @rectDraw, @offset)
		not(rectDraw.contains(pos)) {
			return false;
		}				
		pt=pos.offset(offset,false)
		return this.mouseDown(pt)
	} 
	mouseUpDefault(pos) {
		this.inject(id, @rectDraw, @offset)
		not(rectDraw.contains(pos)) {
			return false;
		}
		pt=pos.offset(offset,false)		
		return this.mouseUp(pt);
	}
	mouseMoveDefault(pos) {	
	}
</script>
<script module="mdc_leftPanel">
	init() {
		
	}
	drawDc() {
		this.inject(@rectAvail, @baseColor)
		this.fill()
		this.save().mode()
		dark=baseColor.darkColor(100)
		hbox(rectAvail,'*,24,4').inject(a,b)
		bb=b.leftCenter(0,100)
		bg=color('#fff')		
		pa=[]
		pa.add(a.lt(), a.rt(), bb.lt())
		pa.add(bb.rt().incrY(10))
		pa.add(bb.rb().incrY(-10))
		pa.add(bb.lb(), a.rb(), a.lb(), a.lt())
		rectAvail.lt().inject(sx,sy)
		rectAvail.lb().inject(ex,ey)
		this.drawPath(pa, null, true, 'gradient',sx,sy,ex,ey,0, baseColor.lightColor(220), 1,baseColor.lightColor(180) )
		print("drawDc pa===$pa", bg)
		a.incrW(2)
		bb.incrX(2,true)
		pa.reuse().add(a.rt(), bb.lt())
		pa.add(bb.rt().incrY(10))
		pa.add(bb.rb().incrY(-10))
		pa.add(bb.lb(), a.rb())		
		this.drawPath(pa, dark, 2 )
		this.restore()
	}
	mouseDown(pt) {
		return true;
	}
	mouseUp(pt) {
		return true;
	}
</script>

<script module="mdc_box">
	drawDc() {
		this.inject(@rectAvail, @baseColor, @title)
		dark=baseColor.darkColor(100)
		rcBox=rectAvail.incr(8)
		roundRect(this, rcBox, 8, dark, 'gradient', baseColor, dark)
		if(title) {
			color=baseColor.lightColor(180)
			this.font('size:20,weight:bold,color:$color').text(rcBox, title)
		}
	}
	mouseDown(pt) {
		return true;
	}
	mouseUp(pt) {
		return true;
	}
	
</script>