<script module="mdc_keyboard">
	init() {
		@cmd=Baro.process('runCommand')	
		// backgroundImage=Cf.imageLoad("tools/keyborad_bg.png");	
		this.makeKeyMap('engLower');
		this.makeKeyMap('engUpper');
		this.makeKeyMap('korLower');
		this.makeKeyMap('korUpper');
		this.makeKeyMap('etc');
		this.langMode='kor';
		this.keyMode=''
		this.currentPos=0
		this.canvasWidth=890;
		this.canvasHeight=276;
		this.inputHeight=46;
		this.inputCheck=false; 
		this.addArray('@ingArray')
		this.var(@ingString, '')
		this.var(@ingBuffer, '')
		this.var(@doneString,'')
		this.var(@inputResultMdc, null)
		this.var(@fontStyle, 'size:14pt, color:#fafafa')
		this.var(@fontOverStyle, 'size:15pt, color:#fafafa, weight:bolde')
	}
	getAvailSize() {
		this.inject(canvasWidth, canvasHeight, inputHeight)
		return pt(canvasWidth, canvasHeight+inputHeight)
	}
	setInputMdc(input) {
		this.var(@inputResultMdc, input)
	}	
	drawOverlay(dc) {
		this.inject(
			@cause, @rectOverlay, 
			@offset, @row, @column,
			@fontOverStyle, keyMode,langMode
		)
		field="$row:$column"
		rect = rectOverlay.offset(offset).incr(-4)		
		// shift
		if(field.eq('2:0','2:11')) {
			dc.fill(rect,'#80808a').rectLine(rc, 0, '#20202a')
		}
		// ctrl
		else if(field.eq('3:1')) {
			dc.fill(rect,'#7a7070').rectLine(rc, 0, '#20202a');
		}
		else {
			dc.fill(rect,'#80808a').rectLine(rect, 0, '#20202a')
		}
		dc.save().font(fontOverStyle)
		this.drawKeyText(dc, rect, row, column)
		dc.restore()
	}
	updateRect() {	
		this.inject(
			@rectAvail,
			inputCheck, inputHeight, canvasHeight 
		)
		ox=8, oy=8, bw=67, bh=60, gabX=6, gabY=7;
		if( inputCheck ) {
			vbox(rectAvail, "*,$inputHeight,$canvasHeight").inject(rcSpace, rectInput, rectKeyboard)
			this.showInput()
		} else {
			rectInput=null
			vbox(rectAvail, "*,$canvasHeight").inject(rcSpace, rectKeyboard)
		}
		this.with(@rectInput, @rectKeyboard)
		rectKeyboard.inject(sx,sy)
		sy+=oy;
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				cx=sx+ox;
				while( c=0, c<10, c++ ) {
					this[rc $n $c]=rc(cx,sy,bw,bh) cx+=bw+gabX;
				}
				w=876-cx;
				if( w<60 ) w=110;
				this[rc $n $c]=rc(cx,sy,w,bh);
				sy+=bh+gabY;
			case 1:
				cx=sx+24;
				while( c=0, c<10, c++ ) {
					this[rc $n $c]=rc(cx,sy,bw,bh) cx+=bw+gabX;
				}
				w=876-cx;
				if( w<60 ) w=110;
				this[rc $n $c]=rc(cx,sy,w,bh);
				sy+=bh+gabY;
			default:
				cx=sx+ox;
				while( c=0, c<12, c++ ) {
					this[rc $n $c]=rc(cx,sy,bw,bh) cx+=bw+gabX;
				}
				sy+=bh+gabY;
				if( n.eq(3) ) {
					r1=this[rc $n 4], r2=this[rc $n 7];
					this[rcSpace]=mergeRect(r1,r2);
				}
			}
		}
	}
	drawDc() {
		this.inject(
			@rectKeyboard, @fontStyle,
			langMode, keyMode
		)
		keyCode=langMode
		if(keyCode.ne("etc") ) {
			if( keyMode.eq("shift","shiftOn") ) {
				keyCode.add("Upper")
			} else {
				keyCode.add("Lower")
			}
		}
		this.var(@keyMap, this.get(keyCode))
		dc=this	
		dc.fill('#1a1a1a');
		// dc.image(rc, background);
		dc.save().font(fontStyle);
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c]
					dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a')
					this.drawKeyText(dc,rc,n,c)
				}
			case 1:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c]
					dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a')
					this.drawKeyText(dc,rc,n,c)
				}
			case 2:
				while( c=0, c<12, c++ ) {
					rc=this[rc $n $c]
					if( c.eq(0,11) ) {
						if( keyMode.eq("shiftOn") ) {
							dc.fill(rc,'#c06a7b').rectLine(rc, 0, '#d09ab0', 2);
						} else if( keyMode.eq("shift") ) {
							dc.fill(rc,'#9a9090').rectLine(rc, 0, '#20202a');
						} else {
							dc.fill(rc,'#4d4d4d').rectLine(rc, 0, '#20202a');
						}
					} else {
						dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a')
					}
					this.drawKeyText(dc,rc,n,c)
				}
			case 3:
				while( c=0, c<12, c++ ) {
					if( c.eq(4,5,6,7) ) {
						if( c!=4 ) continue;
						rc=this[rcSpace]						
						dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a');
					} else {
						rc=this[rc $n $c]
						def=true
						if( c.eq(1) ) {
							 if( keyMode.eq("ctrl") ) {
								dc.fill(rc,'#9a9090').rectLine(rc, 0, '#20202a')
								def=false;
							}
						} else if( c.eq(8) ) {
							if( langMode.eq('kor') ) {
								dc.fill(rc,'#707a7a').rectLine(rc, 0, '#40404a')
								def=false;
							}
						} else {
							dc.fill(rc,'#4d4d4d').rectLine(rc, 0, '#20202a')
						}
						this.drawKeyText(dc,rc,n,c)
					}
				}
			default:
			}
		}
		dc.restore()
	}
	mouseDown(pt) {
		print(">> keyboard mouse down ", pt)
		_update=func() {
			this.mouseDownRect=rc;
			this.var(row,n)
			this.var(column,c)
			this.addOverlay('mouseDown', rc )
			return true;
		};
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update();
				}
			case 1:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update();
				}
			case 2:
				while( c=0, c<12, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update();
				}
			case 3:
				while( c=0, c<12, c++ ) {
					if( c.eq(4,5,6,7) ) {
						not( c.eq(4) ) continue;
						rc=this[rcSpace];
					} else {
						rc=this[rc $n $c];
					}
					not( rc.contains(pt) ) continue;
					return _update();
				}
			default:
			}
		}
		return true;
	}
	mouseUp(pt) {		
		_update=func(rc) {
			if( this.mouseDownRect ) {
				this.mouseDownRect=null;
			}
			if( rc ) {
				this.keyDown(n,c);
			}
			this.removeOverlay('mouseUp', rc)
			return true;
		};
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			case 1:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			case 2:
				while( c=0, c<12, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			case 3:
				while( c=0, c<12, c++ ) {
					if( c.eq(4,5,6,7) ) {
						not( c.eq(4) ) continue;
						rc=this[rcSpace];
					} else {
						rc=this[rc $n $c];
					}
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			default:
			}
		}
		return _update();		
	}
	
	showInput() {
		this.inject(inputCheck, inputWidget, @rectInput, @offset)
		if(inputCheck && inputWidget) {
			rect=rectInput.offset(offset).incr(4)
			inputWidget.move(rect)
			inputWidget.show()
		}
	}
	createInput() {
		this.inputWidget = @widget.create('input','inputKeyboard',this.var(canvas),true)
		this.inputCheck = true
		return input;
	}
	drawKeyText(dc,rc, row,column,offset) {
		this.inject(@keyMap)
		if(offset) {
			rc=rc.offset(offset)
		}
		key=keyMap[k $row $column];
		switch(key) {
		case comma:	dc.text(rc,',' ,'center');
		case dot: dc.text(rc, '.','center');
		case bs:
			img=Cf.imageLoad('tools/icon_bs.png');
			dc.image( rc, img, "center");
		case enter:
			img=Cf.imageLoad('tools/icon_enter.png');
			dc.image( rc, img, "center");
		case etc:
			img=Cf.imageLoad('tools/icon_etc.png');
			dc.image( rc, img, "center");
		default:
			dc.text(rc, key, 'center');
		}
	}
	 
	makeKeyMap(code) {
		str=conf("keyboard.${code}").ref();
		keys=this.addNode(code);
		row=0;
		while( str.valid() ) {
			line=str.findPos("\n");
			not(line.ch()) continue;
			while( line.valid(), c ) {
				keys[k $row $c]=line.findPos(",").trim();
			}
			row++;
		}
	}
	
	clearIng() {
		this.var(@ingString, '')
		this.var(@ingBuffer, '')
		this.var(@ingArray).reuse()
	}
	deleteIngBuffer(&s) {		
		not(s.ch()) {
			return this.clearIng()
		}
		ing=''
		while(s.valid(),n) {
			left=s.findPos(',') not(s.ch()) break;
			if(n) ing.add(',')
			ing.add(left)
		}		
		exec_param="[$ing]" 
		@keyboard.exec(cmd, getSource(conf('keyboard.en2koWord')) )
	}
	
	setText(checkClear, value) {	
		this.inject(@inputResultMdc,@ingString)
		if(checkClear) {
			this.clearIng()
		}
		if(value) {
			if(ingString) thisAppend('@doneString', ingString)
			thisAppend('@doneString', value)
		}
		if(inputResultMdc) {
			inputResultMdc.setKeyboardValue(this)
		}
		this.updateCanvas()
	}
	keyDown(n,c) {
		this.inject(this, keyMode, langMode );
		keyCode=langMode;
		if(keyCode.ne("etc") ) {
			keyCode="eng";
			if( keyMode.eq("shift","shiftOn") ) {
				keyCode.add("Upper");
			} else {
				keyCode.add("Lower");
			}
		} 
		keyMap=this.get(keyCode);
		switch(n ) {
		case 0:
			if( c.eq(10) ) {
				this.inject(@doneString, @imgArray)
				 // 지우기
				 if( imgArray.size() ) {
					not( this.deleteIngBuffer() ) {
						this.setText()
					}
					return
				 } 
				 if(doneString) {
					this.var(@doneString,  doneString.substr(0,-1));
				 } else {
					this.clearIng()
				 }
				 setText();
			} else {
				_value( keyMap[k $n $c] );
			}
		case 1:
			if( c.eq(10) ) {
				_value("\n");
			} else {
				_value( keyMap[k $n $c] );
			}
		case 2:
			if( c.eq(0,11) ) {
				if( keyMode.eq("shift","shiftOn") ) {
					this.keyMode=when(keyMode.eq("shift"),"shiftOn");
				} else {
					this.keyMode="shift";
				}
				this.drawDc()
			} else {
				_value( keyMap[k $n $c] );
			}
		case 3:
			switch( c) {
			case [9,10]: 
				this.inject(doneString, ingString)
				str=strJoin(doneString, ingString)
				if(c.eq(9) ) {
					if(this[currentPos>0]) this[currentPos--]
				} else {
					last=str.length() - 1
					if(this[currentPos<last]) this[currentPos++]
				} 
			case 0:
				if( langMode.eq('etc') ) {
					this.langMode=this.prevMode;
				} else {
					this.prevMode=langMode;
					this.langMode='etc';
				}
				this.drawDc()
			case 1:
				if(keyMode.eq("ctrl") ) {
					this.keyMode='';
				} else {
					this.keyMode='ctrl';
				}
				this.drawDc()
			case 3:	_value( "\t" );
			case 4:	_value( " " );
			case 8:
				if( langMode.eq('kor') ) {
					this.langMode='eng';
				} else {
					this.langMode='kor';
				}
				this.drawDc()
			case 11:
				this.var(@doneString, '')
				this.setText(true)
			default:
				_value( keyMap[k $n $c] );
			}
		default:
		}
		this.var(canvas).update();
		_value=func(val ) {
			switch( val ) {
			case enter: val="\n";
			case tab: val="\t";
			case dot: val='.';
			case comma:	val=',';
			}
			if( langMode.eq('kor') ) {
				if( val.is("alpha") ) {
					exec_param=thisAppend('@ingBuffer', val)
					print(">> exec_param=$exec_param")
					@keyboard.exec(cmd, getSource(conf('keyboard.en2ko')) )
				} else {
					this.setText(true, val)
				}
			} else {				 
				this.setText(true, val)
			}			
			if( keyMode.eq("shift", "ctrl") ) {
				this.keyMode='';
				this.drawDc()
			}  
		};		
	}
	setResult(&s) {
		s.findPos('@#> ing:') 
		not(s.ch()) {
			return print("@@setResult keyboard 결과처리 오류")
		}
		arr = setIngArray(s.match())
		s.findPos('@#> kor:')
		not(s.ch()) {
			return print("@@setResult keyboard 결과처리 오류", arr)
		}
		str = s.findPos("\n").trim()
		asize=arr.size(), slen=str.length()
		print(">> $arr, $str", asize, slen)
		if(asize && slen) {
			a=arr.get(asize-1), b=str.substr(slen-1)
			this.inject(@ingBuffer)
			print(">> ", a, b, ingBuffer)
			if( asize.gt(1) &&  a.eq(b)) {				
				arr.remove(0,asize-1)				
				thisAppend('@doneString', str.substr(0,-1))
				this.var(@ingString, b)
				this.var(@ingBuffer, ingBuffer.ch(-1))
			} else if(slen.gt(1)) {
				thisAppend('@doneString', str.substr(0,1))
				this.var(@ingString, str.substr(1))
				keyCount=0
				while(c,arr) {
					// 'ㄳ','ㄵ','ㄶ','ㄺ','ㄻ','ㄼ','ㄽ','ㄾ','ㄿ','ㅀ','ㅄ'
					if(c.eq('ㅘ','ㅙ','ㅚ','ㅛ','ㅜ','ㅝ','ㅞ','ㅟ','ㅢ')) 
					{
						keyCount+=2;
					} else {
						keyCount++;
					}
				}
				sp=ingBuffer.size() - keyCount;
				print(">> ", keyCount, sp)
				this.var(@ingBuffer, ingBuffer.value(sp))
			} else {
				this.var(@ingString, str)
			}
			this.inject(@ingString, @doneString, @ingBuffer)
			print(">> ", ingString, doneString, ingBuffer )
		} else {
			print(">> 결과가 유효하지 않습니다 ", arr, str)
		}
		
		this.inject(@inputResultMdc)
		if(inputResultMdc) {
			inputResultMdc.setKeyboardValue(this)
		}
		
		setIngArray = func(&s) {
			arr=this.addArray('@imgArray').reuse()
			while(s.valid()) {
				s.findPos("'") not(s.ch()) break;
				arr.add(s.findPos("'").trim())
			}
			return arr;
		};
	}
</script>

<script type="keyboadCommand">
	@keyboard.exec(cmd, execSource) {
		cmd.execSource=execSource
		not(cmd.var(@currentMdc)) {
			cmd.var(@currentMdc, this)
		}
		print("keyboard exec >> $execSource")
		addUserWorker('keyboardCommand', cmd, @keyboard.execSource)
	}
	@keyboard.execSource(cmd) {
		not( cmd.cmp('@workerStatus','run') ) {
			startPythonCommand()
			while(n=0,30) {
				System.sleep(100)
				print(">>@keyboad.execSource workerStatus => $n", cmd.get('@workerStatus'));
				if(cmd.cmp('@workerStatus','run') ) break;
			}
			not( cmd.cmp('@workerStatus','run') ) {
				return print("@@ python command 프로그램이 실행중이 아닙니다");
			}
		}		
		cmd.logTail.timeout()
		cmd.logAppend.append("@#>exec:${cmd.execSource}")
		result=''
		while(n=0,30) {
			System.sleep(10)
			result = cmd.logTail.timeout()
			if(result) {
				cmd.inject(@currentMdc)
				print(">>@keyboad.execSource $n $result", currentMdc.id)
				currentMdc.setResult(result)
				break;
			}
		}
	}
</script>

<conf name="keyboard.en2ko">
	result = en2ko('@[exec_param]')
	log(f"kor:{result}")
</conf>

<conf name="keyboard.en2koWord">
	result = en2koWord(@[exec_param])
	log(f"ingBuffer:{result}")
</conf>

