<script type="keyboadCommand">
	@keyboard.execSource(cmd) {
		not( cmd.cmp('@workerStatus','run') ) {
			startPythonCommand()
			while(n=0,30) {
				System.sleep(100)
				print(">>@keyboad.execSource workerStatus => $n", cmd.get('@workerStatus'));
				if(cmd.cmp('@workerStatus','run') ) break;
			}
			not( cmd.cmp('@workerStatus','run') ) {
				return print("@@ python command 프로그램이 실행중이 아닙니다");
			}
		}		
		cmd.logTail.timeout()
		cmd.logAppend.append("@#>exec:${cmd.execSource}")
		result=''
		while(n=0,30) {
			System.sleep(10)
			result = cmd.logTail.timeout()
			if(result) {
				print(">>@keyboad.execSource $n $result")
				cmd.mdc.setResult(result)
				break;
			}
		}
	}
</script>

<script module="mdc_keyboard">
	init() {
		cmd=Baro.process('runCommand')	
		cmd.mdc=this
		// backgroundImage=Cf.imageLoad("tools/keyborad_bg.png");	
		this.font('size:14, weight:400')
		this.makeKeyMap('engLower');
		this.makeKeyMap('engUpper');
		this.makeKeyMap('korLower');
		this.makeKeyMap('korUpper');
		this.makeKeyMap('etc');
		this.langMode='kor';
		this.keyMode=''
		this.currentPos=0
		this.canvasHeight=276;
		this.inputHeight=46;
		this.inputCheck=false; 
		this[ingString]='';
		this[ingBuffer]='';
		this[ingArrayText]='';
		this[doneString]='';
		this.updateRect()
	}
	drawDc() {		
		this.fill()
		not(this.var(rectKeyboard)) {
			this.updateRect()
		}
		this.drawKeyboard()
	}	
	drawOverlay(dc) {
		this.inject(@cause,@rectOverlay, @offset, @row, @column,keyMode,langMode)
		field="$row:$column"
		rect = rectOverlay.offset(offset).incr(-4)		
		// shift
		if(field.eq('2:0','2:11')) {
			dc.fill(rect,'#80808a').rectLine(rc, 0, '#20202a')
		}
		// ctrl
		else if(field.eq('3:1')) {
			dc.fill(rect,'#7a7070').rectLine(rc, 0, '#20202a');
		}
		else {
			dc.fill(rect,'#80808a').rectLine(rect, 0, '#20202a')
		}
		this.drawKeyText(dc, rect, row, column)
	}
	updateRect() {	
		this.inject(inputCheck, inputHeight, canvasHeight, @rectAvail)
		ox=8, oy=8, bw=67, bh=60, gabX=6, gabY=7;
		if( inputCheck ) {
			vbox(rectAvail, "*,$inputHeight,$canvasHeight").inject(rcSpace, rectInput, rectKeyboard)
			this.showInput()
		} else {
			rectInput=null
			vbox(rectAvail, "*,$canvasHeight").inject(rcSpace, rectKeyboard)
		}
		this.with(@rectInput, @rectKeyboard)
		rectKeyboard.inject(sx,sy)
		sy+=oy;
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				cx=sx+ox;
				while( c=0, c<10, c++ ) {
					this[rc $n $c]=rc(cx,sy,bw,bh) cx+=bw+gabX;
				}
				w=876-cx;
				if( w<60 ) w=110;
				this[rc $n $c]=rc(cx,sy,w,bh);
				sy+=bh+gabY;
			case 1:
				cx=sx+24;
				while( c=0, c<10, c++ ) {
					this[rc $n $c]=rc(cx,sy,bw,bh) cx+=bw+gabX;
				}
				w=876-cx;
				if( w<60 ) w=110;
				this[rc $n $c]=rc(cx,sy,w,bh);
				sy+=bh+gabY;
			default:
				cx=sx+ox;
				while( c=0, c<12, c++ ) {
					this[rc $n $c]=rc(cx,sy,bw,bh) cx+=bw+gabX;
				}
				sy+=bh+gabY;
				if( n.eq(3) ) {
					r1=this[rc $n 4], r2=this[rc $n 7];
					this[rcSpace]=mergeRect(r1,r2);
				}
			}
		}
	}
	drawKeyboard(dc) {
		not(dc) dc=this
		this.inject(langMode, keyMode);
		keyCode=langMode;
		if(keyCode.ne("etc") ) {
			if( keyMode.eq("shift","shiftOn") ) {
				keyCode.add("Upper");
			} else {
				keyCode.add("Lower");
			}
		}
		this.var(@keyMap, this.get(keyCode))
		
		dc.fill('#1a1a1a');
		// dc.image(rc, background);
		dc.font('size:14pt, color:#fafafa');
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c]
					dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a')
					this.drawKeyText(dc,rc,n,c)
				}
			case 1:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c]
					dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a')
					this.drawKeyText(dc,rc,n,c)
				}
			case 2:
				while( c=0, c<12, c++ ) {
					rc=this[rc $n $c]
					if( c.eq(0,11) ) {
						if( keyMode.eq("shiftOn") ) {
							dc.fill(rc,'#c06a7b').rectLine(rc, 0, '#d09ab0', 2);
						} else if( keyMode.eq("shift") ) {
							dc.fill(rc,'#9a9090').rectLine(rc, 0, '#20202a');
						} else {
							dc.fill(rc,'#4d4d4d').rectLine(rc, 0, '#20202a');
						}
					} else {
						dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a')
					}
					this.drawKeyText(dc,rc,n,c)
				}
			case 3:
				while( c=0, c<12, c++ ) {
					if( c.eq(4,5,6,7) ) {
						if( c!=4 ) continue;
						rc=this[rcSpace]						
						dc.fill(rc,'#333333').rectLine(rc, 0, '#20202a');
					} else {
						rc=this[rc $n $c]
						def=true
						if( c.eq(1) ) {
							 if( keyMode.eq("ctrl") ) {
								dc.fill(rc,'#9a9090').rectLine(rc, 0, '#20202a')
								def=false;
							}
						} else if( c.eq(8) ) {
							if( langMode.eq('kor') ) {
								dc.fill(rc,'#707a7a').rectLine(rc, 0, '#40404a')
								def=false;
							}
						} else {
							dc.fill(rc,'#4d4d4d').rectLine(rc, 0, '#20202a')
						}
						this.drawKeyText(dc,rc,n,c)
					}
				}
			default:
			}
		}
	}
	mouseDown(pt) {
		print(">> keyboard mouse down ", pt)
		_update=func() {
			this.mouseDownRect=rc;
			cause = 'keyboardDown'
			rectOverlay = rc 
			this.var(row,n)
			this.var(column,c)
			this.var(canvas).addOverlay(
				this.with(@cause, @rectOverlay)
			)
			return true;
		};
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update();
				}
			case 1:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update();
				}
			case 2:
				while( c=0, c<12, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update();
				}
			case 3:
				while( c=0, c<12, c++ ) {
					if( c.eq(4,5,6,7) ) {
						not( c.eq(4) ) continue;
						rc=this[rcSpace];
					} else {
						rc=this[rc $n $c];
					}
					not( rc.contains(pt) ) continue;
					return _update();
				}
			default:
			}
		}
		return true;
	}
	mouseUp(pt) {		
		_update=func(rc) {
			if( this.mouseDownRect ) {
				this.mouseDownRect=null;
				cause = 'keyboardUp'
				rectOverlay = rc 
				this.var(canvas).removeOverlay(this.with(@cause, @rectOverlay) )
			}
			if( rc ) {
				this.keyDown(n,c);
			}
			return true;
		};
		while( n=0, n<4, n++ ) {
			switch(n) {
			case 0:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			case 1:
				while( c=0, c<11, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			case 2:
				while( c=0, c<12, c++ ) {
					rc=this[rc $n $c];
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			case 3:
				while( c=0, c<12, c++ ) {
					if( c.eq(4,5,6,7) ) {
						not( c.eq(4) ) continue;
						rc=this[rcSpace];
					} else {
						rc=this[rc $n $c];
					}
					not( rc.contains(pt) ) continue;
					return _update(rc);
				}
			default:
			}
		}
		return _update();		
	}
	
	showInput() {
		this.inject(inputCheck, inputWidget, @rectInput, @offset)
		if(inputCheck && inputWidget) {
			rect=rectInput.offset(offset).incr(4)
			inputWidget.move(rect)
			inputWidget.show()
		}
	}
	createInput() {
		this.inputWidget = @widget.create('input','inputKeyboard',this.var(canvas),true)
		this.inputCheck = true
		return input;
	}
	drawKeyText(dc,rc, row,column,offset) {
		this.inject(@keyMap)
		if(offset) {
			rc=rc.offset(offset)
		}
		key=keyMap[k $row $column];
		switch(key) {
		case comma:	dc.text(rc,',' ,'center');
		case dot: dc.text(rc, '.','center');
		case bs:
			img=Cf.imageLoad('tools/icon_bs.png');
			dc.image( rc, img, "center");
		case enter:
			img=Cf.imageLoad('tools/icon_enter.png');
			dc.image( rc, img, "center");
		case etc:
			img=Cf.imageLoad('tools/icon_etc.png');
			dc.image( rc, img, "center");
		default:
			dc.text(rc, key, 'center');
		}
	}
	 
	makeKeyMap(code) {
		str=conf("keyboard.${code}").ref();
		keys=this.addNode(code);
		row=0;
		while( str.valid() ) {
			line=str.findPos("\n");
			not(line.ch()) continue;
			while( line.valid(), c ) {
				keys[k $row $c]=line.findPos(",").trim();
			}
			row++;
		}
	}
	
	clearIng() {
		this[ingString]='';
		this[ingBuffer]='';
		this[ingArrayText]='';
	}
	deleteIngBuffer(&s) {		
		not(s.ch()) {
			return this.clearIng()
		}
		ing=''
		while(s.valid(),n) {
			left=s.findPos(',') not(s.ch()) break;
			if(n) ing.add(',')
			ing.add(left)
		}
		cmd=Baro.process('runCommand')
		exec_param="[$ing]"
		print(">> exec_param=$exec_param")
		@python.execSource(cmd, getSource(conf('keyboard.en2koWord')), @keyboard.execSource)
	}
	
	setText(checkClear) {	
		this.inject(ingString)
		this[doneString].add(ingString)
		if(checkClear) {
			this.clearIng()
		}
	}
	keyDown(n,c) {
		this.inject(this, keyMode, langMode );
		keyCode=langMode;
		if(keyCode.ne("etc") ) {
			keyCode="eng";
			if( keyMode.eq("shift","shiftOn") ) {
				keyCode.add("Upper");
			} else {
				keyCode.add("Lower");
			}
		} 
		keyMap=this.get(keyCode);
		switch(n ) {
		case 0:
			if( c.eq(10) ) {
				this.inject(ingArrayText, doneString)
				 // 지우기
				 if(ingArrayText) {
					not( this.deleteIngBuffer(ingArrayText) ) {
						this.setText()
					}
					return
				 } 
				 if(doneString) {
					this[doneString] = doneString.substr(0,-1);
				 } else {
					this.clearIng()
				 }
				 setText();
			} else {
				_value( keyMap[k $n $c] );
			}
		case 1:
			if( c.eq(10) ) {
				_value("\n");
			} else {
				_value( keyMap[k $n $c] );
			}
		case 2:
			if( c.eq(0,11) ) {
				if( keyMode.eq("shift","shiftOn") ) {
					this.keyMode=when(keyMode.eq("shift"),"shiftOn");
				} else {
					this.keyMode="shift";
				}
				this.drawDc()
			} else {
				_value( keyMap[k $n $c] );
			}
		case 3:
			switch( c) {
			case [9,10]: 
				this.inject(doneString, ingString)
				str=strJoin(doneString, ingString)
				if(c.eq(9) ) {
					if(this[currentPos>0]) this[currentPos--]
				} else {
					last=str.length() - 1
					if(this[currentPos<last]) this[currentPos++]
				} 
			case 0:
				if( langMode.eq('etc') ) {
					this.langMode=this.prevMode;
				} else {
					this.prevMode=langMode;
					this.langMode='etc';
				}
				this.drawDc()
			case 1:
				if(keyMode.eq("ctrl") ) {
					this.keyMode='';
				} else {
					this.keyMode='ctrl';
				}
				this.drawDc()
			case 3:	_value( "\t" );
			case 4:	_value( " " );
			case 8:
				if( langMode.eq('kor') ) {
					this.langMode='eng';
				} else {
					this.langMode='kor';
				}
				this.drawDc()
			case 11:
				this.setText(true)
			default:
				_value( keyMap[k $n $c] );
			}
		default:
		}
		this.var(canvas).update();
		_value=func(val ) {
			switch( val ) {
			case enter: val="\n";
			case tab: val="\t";
			case dot: val='.';
			case comma:	val=',';
			}
			if( langMode.eq('kor') ) {
				if( val.is("alpha") ) {
					this[ingBuffer].add(val)
					cmd=Baro.process('runCommand')
					exec_param=this[ingBuffer]
					print(">> exec_param=$exec_param")
					@python.execSource(cmd, getSource(conf('keyboard.en2ko')), @keyboard.execSource)
				} else {					
					this.setText(true)
				}
			} else {				 
				this.setText(true)
			}			
			if( keyMode.eq("shift", "ctrl") ) {
				this.keyMode='';
				this.drawDc()
			}  
		};		
	}
	setResult(&s) {
		print("set result === $s")
	}
</script>
<conf name="keyboard.en2ko">
	result = en2ko('@[exec_param]')
	log(f"kor:{result}")
</conf>

<conf name="keyboard.en2koWord">
	result = en2koWord(@[exec_param])
	log(f"ingBuffer:{result}")
</conf>
