<script module="mdc_inputResult">
	init() {
		this[bgColor]=randomColor().lightColor(150)
		this[clipDuration] = 1500
		this[clipTick] = 0
		this[@clipFlag]=true
		this.addClipMdc('cursor')
		updateRect()
	}
	setFontStyle(style) {
		return this.var(fontStyle, style)
	}
	updateRect() {
		this.inject(@rectAvail)
		return this.var(@rectBox, rectAvail.incr(2))
	}
	drawClip(dc, rc) {
		this.inject(@clipFlag)
		if(clipFlag) {
			dc.fill(color(200,80,80,50))
			dc.rectLine(rc, 0, '#f00')
			clipFlag=false
		} else {
			clipFlag=true
		}
		this.with(@clipFlag)
	}
	drawDc() {
		this.inject(@rectAvail, @rectBox, @fontStyle, bgColor, inputResult)
		dc=this
		dc.fill()
		not(rectAvail.eq(rectBox)) {
			rectBox = this.updateRect()
		}
		not(fontStyle) fontStyle='size:15,weight:bold,color:#333'
		dark=bgColor.darkColor(200)
		roundRect(this, rectBox, 8, dark, '#fff')
		dc.font(fontStyle)
		dc.textSize(inputResult).inject(textWidth, textHeight)
		dc.text(rectBox.incrX(10), inputResult)
		print("draw dc ", inputResult, textWidth, textHeight)
		this.with(@textWidth, @textHeight)
	}
	getClipRect() {
		this.inject(@textWidth, @textHeight, @offset, @rectBox)
		not(textWidth) textWidth=0
		rect=rectBox.offset(offset)
		rect.inject(x,y,w,h)
		x+=15+textWidth;
		return this.var(clipRect, rc(x,y,3,h).incrYH(8,8))
	}
	setValue(text) {
		this[inputResult]=text
		this.drawDc()
		this.updateCanvas()
	}
	mouseDown(pt) {		
		print(">> mouse down ", pt)
		return true;
	} 
	mouseUp(pt) {		
		print(">> mouse up", pt)
		return true;
	}
	
</script>
