<page id="main" module="page_canvas">
	<canvas id="c" module="canvas, canvas_clip">
</page>

<script eval>
	p=this.var(page)	
	p.size(800,600)
	p.open()
	/*
	mdc=c.var(mdcList).get(0)	 
	mdc.setValue('나광호')
	rect = mdc.getClipRect()
	*/	 
	print(">> test eval " )
</script>
 

<script module="canvas_clip">	 
	updateRect() {
		canvas=this
		rect=canvas.rect()
		canvas.addMdc('clip', rect.topCenter(0,50), 'mdc_clip')
	} 
</script>

<script module="mdc_clip">
	init() {
		this[bgColor]=randomColor().lightColor(150)
		this[clipDuration] = 1500
		this[clipTick] = 0
		this[@clipFlag]=true
		updateRect()
	}
	updateRect() {
		this[rectBox]=this.var(rectAvail).incr(2)
	}
	drawClip(dc, rc) {
		this.inject(@clipFlag)
		if(clipFlag) {
			dc.fill(color(200,80,80,50))
			dc.rectLine(rc, 0, '#f00')
			clipFlag=false
		} else {
			clipFlag=true
		}
		this.with(@clipFlag)
	}
	drawDc() {
		this.inject(@rectAvail)
		dc=this
		dc.fill()
		// dc.fill(rectAvail, this[bgColor])
		not(this[rectBox]) {
			this.updateRect()
		}
		dark=this[bgColor].darkColor(200)
		roundRect(this, this[rectBox], 8, dark, '#fff')
		value = this[inputResult]
		dc.font('size:15,weight:bold,color:#333')
		dc.textSize(value).inject(textWidth, textHeight)
		dc.text(this[rectBox].incrX(10), value)
		print("draw dc ", value, textWidth, textHeight)
		this.with(@textWidth, @textHeight)
	}
	getClipRect() {
		this.inject(@textWidth, @textHeight, @offset)
		rect=this[rectBox].offset(offset)
		rect.inject(x,y,w,h)
		x+=15+textWidth;
		return rc(x,y,3,h).incrYH(8,8)
	}
	setValue(text) {
		this[inputResult]=text
		this.drawDc()
	}
	mouseDown(pt) {		
		print(">> mouse down ", pt)
		return true;
	} 
	mouseUp(pt) {		
		print(">> mouse up", pt))
		return true;
	}
	
</script>



<script test> 
	draw(dc, rc) {
		this.inject(color)
		dc.fill(color.lightColor(220))
		rcImage=rc.center(300,300)
		dc.image(rcImage.incr(-2), 'coca-logo.png', 'full', 'blur', 50)
		dc.image(rcImage, 'coca-logo.png')

		rcIcon = rc.center(30,30)
		dc.image(rcIcon, 'ext:txt')
		dark=color.darkColor(180)
		rcCur=rc(10,10,100,30)
		roundRect(dc, rcCur, 8,  dark, 'gradient', color, dark)
		textColor=color.lightColor(180)
		dc.save()
		dc.font("weight:bold, color:$textColor")
		dc.text(rcCur, 'test', 'center', 'elide')
		dc.restore()
		if(this.var(mdcList) ) {
			while(mdc, this.var(mdcList)) {
				mdc.draw(dc)
			}
		}
	}
</script>

 