<page id="main" margin="0" initPage() {	
	this.@canvas = widget('c')
}>
	<canvas id="c" module="canvas_form" initWidget() {
		this.@video = createWidget('video','video',this,'',true)
	}
	updateCanvas() {
		vbox(this.@rectCanvas, '30,*,40').inject(rcTop, rcBody, rcBottom)
		not(this.@form) {
			this.@form = initForm(conf('form.test_video'))
		}
		this.@video.move(rcBody)
		this.@rcTitle=rcTop
		this.updateForm(this.@form, rcBottom)
	} 
	drawBackground(dc) {
		bgColor=this.@baseColor.lightColor(100)
		textColor=this.@baseColor.darkColor(100)
		dc.save().font("size:12, color:${bgColor.lightColor(180)}, weight:bold")
		dc.fill(this.@rcTitle, bgColor)
		dc.text(this.@rcTitle.incrX(10).move(1,1), '비디오 플래이어 테스트')
		dc.font("color:$textColor")
		dc.text(this.@rcTitle.incrX(10), '비디오 플래이어 테스트')
		dc.restore()
	}>
</page>

<script eval>
	p=page('main')
	p.size(800,600)
	p.open()
	print("CanvasTest eval>>")
	
</script>

<script module="canvas_stack_main">
</script>


<conf name="form.test_video">
	formItems: [
		{tag:btn, code:play, text:플래이 시작}
		{tag:space}
	]
</conf>