<page id="main" 
	onInit() {
		canvas=widget('c')
		this.startTick = System.tick()
	}
	onTimer() {
		if(checkTick(this.startTick)) {
			this.startTick=0
			return canvas.updateRect()
		}
		if(checkTeck(this.resizeTick)) {
			this.resizeTick = 0
			return canvas.updateRect()
		}
	}
	onResize() {
		this.resizeTick = System.tick()
	}
>
	<canvas id="c" module="canvas,canvasMdc">
</page>

<script eval>
	canvas=widget('c')
	mdc=mdc('leftPanel')
	mdc[
	canvasSize() {
		return this.var(canvas).rect().size();
	}
	]
	
	print("eval>> ", mdc.canvasSize() )
</script>

<script module="canvasMdc">
	updateRect() {
		canvas=this
		rect=canvas.rect()
	}
	makeDrawUnit() {
		include('@modules#mdc_keyboard', true)
		
		canvas.baseColor = randomColor()
		canvas.addMdcCheck('leftPanel', rect.leftTop(300), 'mdc_leftPanel') 
		canvas.addMdcCheck('keyboard',rect.bottomCenter(890, 322, 0, -4),'mdc_keyboard')
		print("==== canvasMdc makeDrawUnit end ====", canvas)
	}
</script>

<script module="mdc">
	draw(dc) {
		this.inject(@rectDraw)
		if( typeof(rectDraw,'rect') ) {
			dc.image(rectDraw, this)
		}
	}
	mouseDown(pos) {				
		this.inject(id, @canvas, @rectDraw, @offset)
		not(rectDraw.contains(pos)) {
			return false;
		}				
		pt=pos.offset(offset,false)
		print(">> mouse down ", id, offset, pos, pt)
		return true;
	} 
	mouseUp(pos) {
		this.inject(id, @canvas, @rectDraw, @offset)
		not(rectDraw.contains(pos)) {
			return false;
		}
		pt=pos.offset(offset,false)
		print(">> mouse up", id, offset, pos, pt))
		return true;
	}
	mouseMove(pos) {	
	}
</script>



<script test> 
	draw(dc, rc) {
		this.inject(color)
		dc.fill(color.lightColor(220))
		rcImage=rc.center(300,300)
		dc.image(rcImage.incr(-2), 'coca-logo.png', 'full', 'blur', 50)
		dc.image(rcImage, 'coca-logo.png')

		rcIcon = rc.center(30,30)
		dc.image(rcIcon, 'ext:txt')
		dark=color.darkColor(180)
		rcCur=rc(10,10,100,30)
		roundRect(dc, rcCur, 8,  dark, 'gradient', color, dark)
		textColor=color.lightColor(180)
		dc.save()
		dc.font("weight:bold, color:$textColor")
		dc.text(rcCur, 'test', 'center', 'elide')
		dc.restore()
		if(this.var(mdcList) ) {
			while(mdc, this.var(mdcList)) {
				mdc.draw(dc)
			}
		}
	}
</script>

 