
  # https://datatables.net/manual/server-side
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

<table class="table" id="noticeTable">
  <thead class="text-center">
    <tr>
      <th>#</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성시간</th>
      <th>조회수</th>
    </tr>
  </thead>
  <tbody class="text-center"></tbody>
</table>
<script>
    const dataTable = {
        ele: '#noticeTable',
        table: null,
        option: {
            columns: [
            {
                data: null,
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                },
            },
            { data: 'title' },
            { data: 'userId' },
            { data: 'createDate' },
            { data: 'hit' },
            ],
        },
        init: function () {
            // DataTables 생성
            this.table = Datatables.order(this.ele, this.option, 3);
            this.search();
        },
        search: function () {
            const param = new Object();
            // 조회 조건에 따라 데이터를 조회해서 DataTables에 넣는다.
            Datatables.rowsAdd(this.table, contextPath + '/notice/search', param);
        },
    };
    dataTable.init()


$('#table').dataTables({
    columns: [
        { title: 'Name' },
        { title: 'Position' },
        { title: 'Office' },
        { title: 'Extn.' },
        { title: 'Start date' },
        { title: 'Salary' },
    ],
    processing:true,
    serverSide:true,
    ajax: {
        url: '/api/data',
        data: data => JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'json'
    }     
});

</script>
<!-- thymeleaf 사용 -->
<script th:src="@{/js/table.js}"></script>
<script th:src="@{/js/notice.js}"></script>