<!-- Home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Document</title>
</head>
<body>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
<script>
const socket = io("http://localhost:7777", {path: '/ws/socket.io'});
// io.connect('http://localhost:1111/ws', auth={"token": "dataa121asdadsassda"})
console.log('io.protocol', io.protocol); 
</script>
</body>
</html>