<script type="common" note="canvas 공통 함수">
	mdc(code, param) {
		asize=args().size()
		map=object("user.mdcMap")
		not(asize) {
			return map;
		}
		d=map.get(code)
		if( asize==1 ) {
			return d;
		}
		img=null
		if(typeof(param,'string')) {
			img=Cf.imageLoad(param)
		} else if(typeof(param,'image')) {
			img=param
		} else if(typeof(param,'node')) {
			img=param.var(image)
		} 
		if(img) {
			if(d) {
				d.destroy()
			}
			d=Baro.drawObject(img)
			d.name=code
			map.set(code, d)
			return d;
		}

		if(typeof(param,'point')) {
			param.inject(width, height);
		} else if(typeof(param,'widget')) { 
			param.rect().inject(x,y,width, height)
		} else if(typeof(param,'rect')) { 
			param.size().inject(width, height);
		} else {
			args(1,width, height);
		}
		not(typeof(width,'num') || typeof(height,'num')) {
			return print("메모리 DC생성 영역오류(폭:$width 높이:$height)", param);
		}		
		if(d) {
			rc=d.rect();
			rc.size().inject(w, h);
			if( width.eq(w) && height.eq(h) ) {
				d.flag(FLAG.new);
				return d;
			}
			d.destroy();
			d=Baro.drawObject(width, height);
			print("mdc set ($width, $height)");
		} else {
			d=Baro.drawObject(width, height);
			d.name=code;
		}  
		map.set(code, d);
		return d;
	}
</script>

<script type="draw" note="공통 그리기 함수">
	roundBox(dc, rcBox, rad, penColor) {
		dc.save()
		dc.mode()
		not(penColor) penColor=null
		rad2=rad*2;
		lt=rcBox.leftTop(rad2,rad2), rt=rcBox.rightTop(rad2,rad2);
		lb=rcBox.leftBottom(rad2,rad2), rb=rcBox.rightBottom(rad2,rad2);
		path=[]
		path.add('arc',rt, 0, 90, lt.tc(), 'arc', lt, 90,90, lb.lc(), 'arc',lb,180,90, rb.bc(), 'arc',rb,270,90)
		if(type.eq('gradient','radial','conical')) {
			arr=args(5)
			if(type=='gradient') {
				c1=arr.get(0), c2=arr.get(1)
				rc.lt().inject(sx,sy)
				rc.lb().inject(ex,ey)
				dc.drawPath(path, penColor, true,'gradient',sx,sy,ex,ey,0,c1,1,c2)
			} else if(type=='radial') {
				arr.inject(cx, cy, px, py, c1, c2)
				dc.drawPath(path, penColor, true,'radial',cx, cy, px, py,0,c1,1,c2)
			} else {
				arr.inject(cx, cy, c1, c2)
				dc.drawPath(path, penColor, true,'conical',cx, cy, 0,c1,1,c2)
			}
		} else {
			bgColor=type
			if(bgColor) {
				dc.drawPath(path, penColor, true,bgColor)	
			} else {
				dc.drawPath(path, penColor, true)
			}			
		}
		dc.restore()
	}
	
	roundRect(dc, rc, rad, penColor, type) {
		dc.save()
		dc.mode()
		if(penColor) {
			dc.pen(penColor)
		} else {
			dc.pen(null)
		}		
		path=[]
		path.add('round',rc, rad, rad)
		// ex) roundRect(dc, rcBox, 20, c.darkColor(100),'gradient', c, c.darkColor(100) )
		if(type.eq('gradient','radial','conical')) {
			arr=args(5)
			if(type=='gradient') {
				c1=arr.get(0), c2=arr.get(1)
				rc.lt().inject(sx,sy)
				rc.lb().inject(ex,ey)
				dc.drawPath(path, penColor, true,'gradient',sx,sy,ex,ey,0,c1,1,c2)
			} else if(type=='radial') {
				arr.inject(cx, cy, px, py, c1, c2)
				dc.drawPath(path, penColor, true,'radial',cx, cy, px, py,0,c1,1,c2)
			} else {
				arr.inject(cx, cy, c1, c2)
				dc.drawPath(path, penColor, true,'conical',cx, cy, 0,c1,1,c2)
			}
		} else {
			bgColor=type
			if(bgColor) {
				dc.drawPath(path, penColor, true,bgColor)	
			} else {
				dc.drawPath(path, penColor, true)
			}			
		}
		print("roundRect path==$path")
		dc.restore()
	} 
</script>

<script type="range" note="영역처리 함수">
	vbox(rc, sizes, local) {
		if(local) {
			a=[]
		} else {
			a=_arr()
		}
		rc.inject(sx,sy,w,h)
		while(hh, recalc(h,sizes)) {
			a.add(rc(sx,sy,w,hh))
			sy+=hh;
		}
		return a;
	}
	hbox(rc, sizes, local) {
		if(local) {
			a=[]
		} else {
			a=_arr()
		}
		rc.inject(sx,sy,w,h)
		while(ww, recalc(w,sizes)) {
			a.add(rc(sx,sy,ww,h))
			sx+=ww;
		}
		return a;
	}
</script>

<script type="mdraw" note="메모리영역에 그리기 함수">
	

</script>