<script module="editor">
	editorSearch(mode) {	
		if( mode&KEY.ctrl ) {
			str = this.text('select');
			not( str ) {
				str=this.text('word');			
			}
			if(str) {
				global().set("prevSearchValue",str);
			} else {
				str=global().get("prevSearchValue");
			}
		} else {
			str=global().get("prevSearchValue");
		}
		not( str ) {
			System.beep();
			return;
		}
		this.var(prevSearchValue, str);
		if( mode&KEY.shift ) {
			this.searchPrev(str);
		} else {
			this.searchNext(str);
		}
		return true;
	}

	editorCopyLine( mode) {
		sp=0, ep=0;
		if( this.is('select') ) {
			sp=this.pos('selectStart', 'lineStart'), ep=this.pos('selectEnd','lineEnd');
			if( this.pos('selectEnd')==this.pos('selectEnd','lineStart') ) {
				ep=this.pos('selectEnd') - 1;
			} else {
				ep=this.pos('selectEnd','lineEnd');
			}
			str=this.movePos(sp).movePos(ep,true).text('select');
		} else {
			sp=this.pos('lineStart'), ep=this.pos('lineEnd');
			str=this.movePos(sp).movePos(ep,true).text('select');
		} 
		dsp=this.pos('down','lineStart');
		this.movePos(dsp);
		this.insert(str);
		return true;
	} 
	editorUpPress() {
		sp=0,ep=0;
		ok=false;
		if( this.is('select') ) {
			sp=this.pos('selectStart', 'lineStart'), ep=this.pos('selectEnd','lineEnd');
			if( this.pos('selectEnd')==this.pos('selectEnd','lineStart') ) {
				ep=this.pos('selectEnd')-1;
			} else {
				ep=this.pos('selectEnd','lineEnd');
			}
			str=this.movePos(sp).movePos(ep,true).text('select');
			if( str.find("\n") ) {
				ok=true;
			}
		}
		not( ok ) {
			sp=this.pos('lineStart'), ep=this.pos('lineEnd');
			str=this.movePos(sp).movePos(ep,true).text('select');
		}
		not(sp,ep) return;
		ep+=1;
		end=this.pos('end');
		if( ep.gt(end) ) ep=end;
		this.movePos(sp).movePos(ep, true);
		this.insert('');
		usp=this.pos('up','lineStart'), uep=this.pos('up','lineEnd');
		upLine=this.movePos(usp).movePos(uep,true).text('select');
		indent=indentText( upLine );
		len=str.length();
		sp=usp, ep=usp+len;
		this.insert("$str\n$upLine");
		this.movePos(sp).movePos(ep,true);
		return true;
	}

	editorDownPress() {
		sp=0, ep=0;
		ok=false;
		if( this.is('select') ) {
			sp=this.pos('selectStart', 'lineStart'), ep=this.pos('selectEnd','lineEnd');
			if( this.pos('selectEnd')==this.pos('selectEnd','lineStart') ) {
				ep=this.pos('selectEnd') - 1;
			} else {
				ep=this.pos('selectEnd','lineEnd');
			}
			str=this.movePos(sp).movePos(ep,true).text('select');
			if( str.find("\n") ) {
				ok=true;
			}
		}
		not( ok ) {
			sp=this.pos('lineStart'), ep=this.pos('lineEnd');
			str=this.movePos(sp).movePos(ep,true).text('select');
		}
		not(sp, ep) return;
		end=this.pos('end');
		dsp=this.pos('down','lineStart'), dep=this.pos('down','lineEnd');
		if( dep >= end ) return;
		if( dsp < dep ) {
			downLine=this.movePos(dsp).movePos(dep,true).text("select");
			len=str.length(), dlen=downLine.length();
			dep+=1;
			this.movePos(sp).movePos(dep,true);
			this.insert("$downLine\n$str\n");
			dlen+=1;
			sp+=dlen, ep=sp+len;
			this.movePos(sp).movePos(ep,true);
		}
		return true;
	}
</script>
<script module="EditorSource">
	onCursorChange() {
		editor=this;
		dist=editor.timeVal(changeTick) not(dist) return editor.timeVal(changeTick, true);
		if(dist<1500) return;
		editor.findAll();
		text=editor.text('word') not(text) return;
		if(text.is('oper')) return;
		editor.findAll(text);
		editor.timeVal(changeTick, true);
	}
	onMouseWheel(pos, delta, mode) {
		not( mode&KEY.ctrl ) return;
		num=delta/60;
		this.zoomIn(num.toInt() );
		return true;
	}
	onKeyDown(key, mode) {
		return this.editorKeyDown( key, mode)
	}
	onContentChange(pos, add, remove) {
		this.editorContentChange( pos, add, remove);
	}
	onChange() {
		if( this.isSyntaxString() ) return;
		text=this.sp().spText('prevWord', 'prevChar');
		if(text.ch('<')) {
			this.editorTagInsert( text.value(1));
		}
	}
	isSyntaxString() {
		key=this.prevKey;
		if( key && key.eq(16777219, 16777223) ) {
			return true;
		}
		sty=this.syntaxAt();
		if( sty ) {
			clr=right(sty,',');
			if( clr.eq('#FF00FF') ) return true;
		}
		return false;
	}
	
	editorKeyDown(key, mode) { 
		if( key.eq(KEY.Return, KEY.Enter) ) {
			if( mode&KEY.ctrl ) {
				page().runScript(key);
				return true;
			}
			return this.editorKeyEnter(mode);
		}
		switch( key ) {
		case KEY.F3:	return this.editorSearch(mode);
		default:
		}
		if( mode&KEY.ctrl ) {
			if( key.eq(KEY.S, KEY.R, KEY.B) ) {
				return page().runScript(key);
			} else if(key.eq(KEY.F) ) {
				return page().searchFocus(editor);
			} else if(key.eq(KEY.D) ) {
				return this.editorCopyLine(mode); 
			} else if(key.eq(KEY.Up)) {
				return this.editorUpPress(editor);
			} else if(key.eq(KEY.Down)) {
				return this.editorDownPress(editor);
			}
		}
		this.prevKey=key;
	}
 
	editorContentChange( pos, add, remove ) {
	}
	editorSourceKeyMap(tab) { 
		if(this.is("select")) return false;
		return false;
	}
	editorTagInsert(tag) { 
		if( tag.eq('page','pages','form','row','group','hbox','vbox', 'inline','dialog','func','call','widgets') ) {
			this.insertIndent(">\n\t^|\n</$tag>", null, 'lineEnd');
		} else if( tag.eq('button', 'check', 'radio') ) {
			this.insert(' id="^|" text="^|">', true );
		} else if( tag.eq('tree','grid','this', 'tab', 'div', 'player') ) {
			this.insert('^|>', true );
		} else if( tag.eq('combo','date','time','webview', 'context', 'canvas', 'input', 'spin', 'calendar', 'progress') ) {
			this.insert(' id="^|">', true );
		} else if( tag.eq('label') ) {
			this.insert(' text="^|">', true );
		} else if( tag.eq('spa') ) {
			this.insert("ce>");
		}
	}
	insertIndent( &str, indent, pos ) {
		if( pos ) this.movePos(pos);
		not( indent ) {
			line=this.sp('lineStart').spText();
			indent=indentText(line);
		}
		rst='';
		while( str.valid(), num ) {
			left=str.findPos("\n");
			if(num) rst.add("\n", indent);
			rst.add(left);
		}
		this.insert( rst, true);
		return true;
	}
	editorKeyEnter() {
		pos=this.pos();
		if( pos==this.pos('lineStart') ) {
			return false;
		}
		line=this.sp('lineStart').spText();
		indent=indentText(line);
		line.ref();
		size=line.length();
		ch=line.prevChar();
		size-=line.length();
		if( ch.eq("{", ":", "[") ) {
			val=line.trim();
			c=this.text('nextChar');
			if( ch.eq('{') && c.eq('}') ) {
				this.insert("\n$indent\t^|\n$indent", true);
				return true;
			}
			if( ch.eq('[') && c.eq(']') ) {
				this.insert("\n$indent\t^|\n$indent", true);
				return true;
			}
			not( val.start('switch') ) {
				indent.add("\t");
			}
		}
		/* 커서 앞에 공백제거 */
		size-=1;
		if( size>0 ) {
			sp=pos-size;
			this.movePos(sp,true);
			this.insert("");
		}
		/* 커서뒤 공백제거 */
		remain=this.sp().spText('lineEnd');
		if( remain ) {
			blank=indentText(remain);
			pos=this.pos() + blank.size();
			this.movePos(pos, true);
		}
		this.insert("\n$indent");
		return true;
	}
</script>
