<div class="upload-area" id="uploadArea">
	<div class="upload-icon">📁</div>
	<div class="upload-text">파일을 드래그하거나 클릭하여 업로드하세요</div>
	<input type="file" class="file-input" id="fileInput" multiple>
</div>

<div class="file-list" id="fileList"></div>
<div class="progress-container" id="uploadProgress"></div>

<div class="button-group">
	<button class="button upload-button" id="uploadButton">업로드</button>
	<button class="button clear-button" id="clearButton">초기화</button>
	<span style="flex:1"></span>
	<button class="button clear-button" id="cancleButton">취소</button>
</div>